<?php if(!isset($footer) OR $footer): ?>
	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="col-md-2">
				<p class="header">Software</p>
				<div class="contact-item">
					<a href="<?php echo base_url('index.php/features'); ?>"><p>Features</p></a>
					<a href="<?php echo base_url('index.php/packages'); ?>"><p>Packages</p></a>
					<a href="<?php echo base_url('index.php/clients'); ?>"><p>Clients</p></a>
					<a href="<?php echo base_url('index.php/contact-us'); ?>"><p>Request a demo</p></a>
				</div>
			</div>
			<div class="col-md-2">
				<!-- <p class="header">Legal</p>
				<div class="contact-item">
					<a href="<?php //echo base_url('privacy-policy'); ?>"><p>Privacy Policies</p></a>
					<a href="<?php //echo base_url('terms-of-services'); ?>"><p>Terms of Service</p></a>
				</div> -->
			</div>
			<div class="col-md-offset-4 col-md-4">
				<p class="header">Cornerstone</p>
				<div class="contact-item">
					<p>Unit 1404 Paragon Plaza EDSA corner</p>
					<p>Reliance Street, Mandaluyong City</p>
					<p>1550 Metro Manila, Philippines</p>
				</div>
			</div>
		</div>
	</div>
<?php endif; ?>