<!-- Navigation
==========================================-->

<nav id="menu" class="navbar navbar-default navbar-fixed-top">
	<div class="container"> 
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand page-scroll" href="<?php echo base_url('/'); ?>">
				<!-- <img src="<?php //echo base_url('assets/img/homepage/cornerstone-logo.png'); ?>"> -->
				<div class="img-logo"></div>
				<div class="img-sub" style="position: relative; top: -50px; left: 145px;">
					Project<br>
					Management<br>
					Software
				</div>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="<?php echo base_url('features'); ?>" class="page-scroll">Features</a></li>
					<li class=""><a href="<?php echo base_url('packages'); ?>" class="page-scroll">Subscription Details</a></li>
					<li class=""><a href="<?php echo base_url('clients'); ?>" class="page-scroll">Clients</a></li>
					<li class=""><a href="<?php echo base_url('blog'); ?>" class="page-scroll">Blog</a></li>
				<?php if(!empty($page) AND $page->slug == 'contact-us'): ?>
					<li><a href="<?php echo base_url('/'); ?>" class="btn btn-lg btn-contact page-scroll">Close</a></li>
				<?php else: ?>
					<li><a href="<?php echo base_url('contact-us'); ?>" class="btn btn-lg btn-contact page-scroll">Contact us</a></li>
				<?php endif; ?>
				<!-- <?php //if($slug !== "contact-us"): ?>
					<li class="<?php //echo ($slug == 'features') ? 'active' : ''; ?>"><a href="<?php echo base_url('index.php/features'); ?>" class="page-scroll">Features</a></li>
					<li class="<?php //echo ($slug == 'packages') ? 'active' : ''; ?>"><a href="<?php echo base_url('index.php/packages'); ?>" class="page-scroll">Subscription Details</a></li>
					<li class="<?php //echo ($slug == 'clients') ? 'active' : ''; ?>"><a href="<?php echo base_url('index.php/clients'); ?>" class="page-scroll">Clients</a></li>
					<li><a href="<?php echo base_url('index.php/contact-us'); ?>" class="btn btn-lg btn-contact page-scroll">Contact us</a></li>
				<?php //elseif ($slug == 'contact-us'): ?>
					<li><a href="<?php echo base_url('/'); ?>" class="btn btn-lg btn-contact page-scroll">Close</a></li>
				<?php //endif; ?> -->
			</ul>
		</div>
		<!-- /.navbar-collapse --> 
	</div>
</nav>