<!DOCTYPE html>

<!--[if IE]>
<html class="ie" lang="en">
<![endif]-->

<!--[if !IE]>-->
<html lang="en">
<!--<![endif]-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">

	<?php
		$modified_modules = array(
			'contact-us-thank-you',
			'tour-thank-you',
			'features',
			'login',
			'product-demo',
			'contact-us',
			'about',
			'tour',
			'why-cs',
			'package',
		);
	?>

	<title>
		<?php echo !empty($page->is_home)? '' : 'Cornerstone |' ?>
		<?php if(in_array($this->uri->segment(1), $modified_modules)): ?>
			<?php echo ucwords(str_replace('-',' ',$this->uri->segment(1))); ?>
		<?php else: ?>
			{{ template:title }}
		<?php endif ?>
	</title>

	<meta name="description" content="Cornerstone Website">
	<meta name="author" content="Cornestone Dev Team">

	<!-- Favicons
	================================================== -->
	{{ theme:favicon file="ico/favicon.ico" }}
	{{ theme:favicon rel="apple-touch-icon" file="ico/apple-icon.png" }}
	{{ theme:favicon rel="apple-touch-icon" sizes="72x72" file="ico/apple-icon-72x72.png" }}
	{{ theme:favicon rel="apple-touch-icon" sizes="114x114" file="ico/apple-icon-114x114.png" }}

	<!-- Bootstrap -->
	{{ theme:css file="bootstrap.css" }}
	{{ theme:css file="fonts/font-awesome/css/font-awesome.css" }}

	<!-- Stylesheet
	================================================== -->
	{{ theme:css file="style.css" }}
	{{ theme:css file="animate.css" }}

	<!-- JScripts
	================================================== -->
	{{ theme:js file="jquery.1.11.1.js" }}
	{{ theme:js file="bootstrap.js" }}
	{{ theme:js file="wow.min.js" }}

	<script type="text/javascript">
		var base_url = '<?php echo base_url(); ?>';
		$(window).load(function() { $(".se-pre-con").fadeOut(); });
		new WOW().init();
	</script>

	<script src='https://www.google.com/recaptcha/api.js'></script>

	<style type="text/css">
		.no-js #loader { display: none;  }
		.js #loader { display: block; position: absolute; left: 100px; top: 0; }
		.se-pre-con {
			position: fixed; z-index: 9999;
			left: 0px; top: 0px; 
			width: 100%; height: 100%;
			background: url(addons/default/themes/cornerstone_pyro_2/img/Preloader_10.gif) center no-repeat #fff;
		}

		.dropdown-menu > li:hover > a { color:#fff; }
		.dropdown-menu > li > a:hover, .dropdown-menu > li.active > a, .dropdown-menu > li.active > a:hover { background-color:#c22127; }
		@media (min-width: 768px) {
			.navbar-right .dropdown-menu { right: 0; left: 15px !important; }
		}
		@media (max-width: 768px) {
			#menu.navbar-default { min-height:100px; }
			.navbar-default .navbar-toggle { margin-top:20px; }
		}
	</style>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-105705010-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<div class="se-pre-con2"></div>

	{{ theme:partial name="header" }}

	<?php if(in_array($this->uri->segment(2), array('projects'))): ?>
		{{ theme:partial name="modules/<?php echo $this->uri->segment(1); ?>" }}
	<?php elseif(in_array($this->uri->segment(1), $modified_modules)): ?>
		{{ theme:partial name="modules/<?php echo $this->uri->segment(1); ?>" }}
	<?php elseif(!empty($page->is_home)): ?>
		{{ theme:partial name="modules/home" }}
	<?php elseif(in_array($this->uri->segment(1), array('blog','cornerhub'))): ?>
		{{ theme:partial name="modules/blog" }}
	<?php else: ?>
		{{ theme:partial name="modules/default" }}
	<?php endif; ?>

	{{ theme:partial name="modal" }}
	{{ theme:partial name="footer" }}
</body>
</html>