<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ template:title }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicons
	================================================== -->
	{{ theme:favicon file="ico/favicon.ico" }}
	{{ theme:favicon rel="apple-touch-icon" file="ico/apple-icon.png" }}
	{{ theme:favicon rel="apple-touch-icon" sizes="72x72" file="ico/apple-icon-72x72.png" }}
	{{ theme:favicon rel="apple-touch-icon" sizes="114x114" file="ico/apple-icon-114x114.png" }}

	<!-- Bootstrap -->
	{{ theme:css file="bootstrap.css" }}
	{{ theme:css file="fonts/font-awesome/css/font-awesome.css" }}

	<!-- Stylesheet
	================================================== -->
	{{ theme:css file="style.css" }}
	{{ theme:css file="nivo-lightbox/nivo-lightbox.css" }}
	{{ theme:css file="nivo-lightbox/default.css" }}
	{{ theme:css file="swiper.min.css" }}
	{{ theme:css file="animate.css" }}

	{{ theme:js file="jquery.1.11.1.js" }}
	{{ theme:js file="bootstrap.js" }}
	{{ theme:js file="nivo-lightbox.js" }}
	{{ theme:js file="jquery.isotope.js" }}
	{{ theme:js file="jqBootstrapValidation.js" }}
	{{ theme:js file="swiper.min.js" }}
	{{ theme:js file="viewportchecker.min.js" }}
	{{ theme:js file="bootbox.min.js" }}
	{{ theme:js file="jquery.matchHeight.js" }}

	<script type="text/javascript">
		var base_url = '<?php echo base_url(); ?>';
	</script>

	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	{{ theme:partial name="header" }}

	<?php if(!empty($page->is_home)): ?>
		{{ theme:partial name="modules/home" }}
	<?php elseif(!empty($page)): ?>
		{{ theme:partial name="<?php echo 'modules/' . $page->slug; ?>" }}
	<?php else: ?>
		{{ theme:partial name="modules/blog" }}
	<?php endif; ?>

	{{ theme:partial name="footer" }}
</body>
</html>