<div id="tos" class="">
	<div class="container">
		<div class="tos-wrapper col-md-offset-2 col-md-8">
			<p class="breadcrumbs">
				{{url:anchor segment={url:site} title="Home" }}
				<span class="arrow"> &rsaquo; </span>
				{{ template:breadcrumbs }}

					{{ if uri }}
						{{ url:anchor segments=uri title=name }}
						<span class="arrow"> &rsaquo; </span>
					{{ else }}
						<span class="current">{{ name }}</span>
					{{ endif }}
				{{ /template:breadcrumbs }}
			</p>
			{{ template:body }}
		</div>
	</div>
</div>

{{ theme:js file="package.js" }}