<!-- Header -->
<header id="client">
	<div class="intro">
		<div class="overlay">
			<div id="slider">
				<div class="container">
					<div class="row">
					<!-- 	<div class="col-xs-12 col-md-12">
							<div class="slider-text">
								<h2>What our clients are saying about Cornerstone</h2>
							</div>
							<div class="col-md-12">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="http://www.axeia.com.ph/files/large/fd2b74b8ac9c433" class="logo"/>
											<h4>"Ahead of the curve in terms of features and integrated applications."</h4>
											<p>Lucy Brown, Operations Manager, Daniel Islands</p>
										</div>
										<div class="swiper-slide">
											<img src="http://www.axeia.com.ph/files/large/fd2b74b8ac9c433" class="logo"/>
											<h4>"Ahead of the curve in terms of features and integrated applications."</h4>
											<p>Lucy Brown, Operations Manager, Daniel Islands</p>
										</div>
										<div class="swiper-slide">
											<img src="http://www.axeia.com.ph/files/large/fd2b74b8ac9c433" class="logo"/>
											<h4>"Ahead of the curve in terms of features and integrated applications."</h4>
											<p>Lucy Brown, Operations Manager, Daniel Islands</p>
										</div>
										<div class="swiper-slide">
											<img src="http://www.axeia.com.ph/files/large/fd2b74b8ac9c433" class="logo"/>
											<h4>"Ahead of the curve in terms of features and integrated applications."</h4>
											<p>Lucy Brown, Operations Manager, Daniel Islands</p>
										</div>
									</div>
									<div class="swiper-pagination"></div>
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
									<div class="swiper-scrollbar"></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="intro-text">
						<div class="col-md-12">
							{{ theme:image file="clients/clients.png" }}
						</div>
						<!-- <div class="col-md-6">
							<div class="text-logo">
								<form action="<?php echo base_url('contact-us'); ?>" method="POST">
									<div class="input-group col-md-8">
										<input type="text" class="form-control" placeholder="Your Email Address">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-secondary" type="button">Request a demo</button>
										</span>
									</div>
								</form>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

{{ theme:js file="main.js" }}