<!-- Header -->
<header id="features" style="height: 600px;">
	<div class="intro">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="intro-text">
						<div class="col-md-12">
							<div class="features-flow">
								{{ theme:image file="features/arrow-circle.png" }}
								<a href="#feature-1" class="page-scroll">
									{{ theme:image file="features/xl/xl-developers.png" class="feature-icon-1" }}
								</a>
								<a href="#feature-2" class="page-scroll">
									{{ theme:image file="features/xl/xl-projects.png" class="feature-icon-2" }}
								</a>
								<a href="#feature-3" class="page-scroll">
									{{ theme:image file="features/xl/xl-inventory.png" class="feature-icon-3" }}
								</a>
								<a href="#feature-4" class="page-scroll">
									{{ theme:image file="features/xl/xl-sales-team.png" class="feature-icon-4" }}
								</a>
								<a href="#feature-5" class="page-scroll">
									{{ theme:image file="features/xl/xl-clients.png" class="feature-icon-5" }}
								</a>
								<a href="#feature-6" class="page-scroll">
									{{ theme:image file="features/xl/xl-purchasing.png" class="feature-icon-6" }}
								</a>
								<a href="#feature-7" class="page-scroll">
									{{ theme:image file="features/xl/xl-construction.png" class="feature-icon-7" }}
								</a>
								<a href="#feature-8" class="page-scroll">
									{{ theme:image file="features/xl/xl-accounting.png" class="feature-icon-8" }}
								</a>
								<a href="#feature-9" class="page-scroll">
									{{ theme:image file="features/xl/xl-property-management.png" class="feature-icon-9" }}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="scroll-down continuos bounce">
	<a href="#feature-1" class="page-scroll" onclick="event.preventDefault();">
		{{ theme:image file="homepage/arrow-down.png" alt="homepage/scroll-down.png" height="50" }}
	</a>
</div>

<div id="features-wrapper">
	<nav class="features-menu">
		<a href="#feature-1" class="page-scroll" data-toggle="tooltip" data-placement="right" title="Developers"><div class="sidebar-logo"></div></a>
		<a href="#feature-2" class="page-scroll" data-toggle="tooltip" data-placement="right" title="Projects"><div class="sidebar-logo"></div></a>
		<a href="#feature-3" class="page-scroll" data-toggle="tooltip" data-placement="right" title="Inventory"><div class="sidebar-logo"></div></a>
		<a href="#feature-4" class="page-scroll" data-toggle="tooltip" data-placement="right" title="Sales Team"><div class="sidebar-logo"></div></a>
		<a href="#feature-5" class="page-scroll" data-toggle="tooltip" data-placement="right" title="Clients"><div class="sidebar-logo"></div></a>
		<a href="#feature-6" class="page-scroll" data-toggle="tooltip" data-placement="right" title="Purchasing"><div class="sidebar-logo"></div></a>
		<a href="#feature-7" class="page-scroll" data-toggle="tooltip" data-placement="right" title="Construction"><div class="sidebar-logo"></div></a>
		<a href="#feature-8" class="page-scroll" data-toggle="tooltip" data-placement="right" title="Accounting"><div class="sidebar-logo"></div></a>
		<a href="#feature-9" class="page-scroll" data-toggle="tooltip" data-placement="right" title="Project Management"><div class="sidebar-logo"></div></a>
	</nav>
	<!-- Feature 1 : Developers -->
	<div id="feature-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="overflow-img left">
						<!-- <img class="top" src="<?php echo base_url('assets/img/features/screenshots_maps.png'); ?>">
						<img class="bottom" src="<?php echo base_url('assets/img/features/screenshots_investories.png'); ?>"> -->
						{{ theme:image file="features/s1.png" }}
					</div>
				</div>
				<div class="col-md-6 text-center center">
					<div class="text-logo">
					<div class="img-logo"></div>
						<h2>Developers</h2>
						<h4>Monitor your general information<br>spanning property specifications (prices,<br>virtual maps) and accounting details<br>(transactions).</h4>
						<p>1. Dashboard</p>
						<p>2. Projects (property details, history, analytics)</p>
						<p>3. Personnel (sales team tracking, contractors)</p>
						<p>4. Documents and Transactions</p>
						<p>5. Commission Tracking</p>
						<p>6. Analytics, Reports, and Alerts</p>
						<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
							<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
						</form> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Feature 2 : Projects -->
	<div id="feature-2">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center center">
					<div class="text-logo">
					<div class="img-logo"></div>
						<h2>Projects</h2>
						<h4>Monitor all your projects in one page.<br>Includes exclusive sub-modules that are<br>ahead of its competition.</h4>
						<p>1. General Information</p>
						<p>2. Real-time updates to avoid duplication</p>
						<p>3. Booking of the property / payment reservation</p>
						<p>4. Payment Schedule</p>
						<p>5. Property Specifications (unit types)</p>
						<p>6. Property Options</p>
						<p>7. Virtual Map per property</p>
						<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
							<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
						</form> -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="overflow-img right">
						{{ theme:image file="features/s2.png" }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Feature 3 : Inventory -->
	<div id="feature-3">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="overflow-img left">
						{{ theme:image file="features/s3.png" }}
					</div>
				</div>
				<div class="col-md-6 text-center center">
					<div class="text-logo">
					<div class="img-logo"></div>
						<h2>Inventory</h2>
						<!-- <h4>Monitor your general information<br>spanning property specifications (prices,<br>virtual maps) and accounting details.<br>(transactions)</h4> -->
						<p>1. Inventory</p>
						<p>2. Availability of Units</p>
						<p>3. Unit Options</p>
						<p>4. Avoids Sale Duplication</p>
						<p>5. Quick Overview</p>
						<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
							<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
						</form> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Feature 4 : Sales Team -->
	<div id="feature-4">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center center">
					<div class="text-logo">
					<div class="img-logo"></div>
						<h2>Sales Team</h2>
						<h4>Sellers or Brokers/Agent Portal helps<br>sellers to check project inventory and<br>construction update, monitoring of<br>client's payments and documents as well<br>as requesting for commission release. It<br>also has the functionality to 'soft reserve'<br>a property in the field.</h4>
						<p>1. My Account <span class="pull-right" style="width: 250px;">5. My Files</span></p>
						<p>2. My Projects <span class="pull-right" style="width: 250px;">6. My Commissions</span></p>
						<p>3. My Team <span class="pull-right" style="width: 250px;">7. Help and FAQs</span></p>
						<p>4. My Clients</p>
						<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
							<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
						</form> -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="overflow-img right">
						{{ theme:image file="features/s4.png" }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Feature 5 : Clients -->
	<div id="feature-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="overflow-img left">
						{{ theme:image file="features/s5.png" }}
					</div>
				</div>
				<div class="col-md-6 text-center center">
					<div class="text-logo">
					<div class="img-logo"></div>
						<h2>Clients</h2>
						<h4>Allow your clients to monitor their<br>property's status online. Get their prompt<br>submission of pending requirements via<br>our <i>Client Portal</i>.</h4>
						<p>1. My Account</p>
						<p>2. My Properties</p>
						<p>3. My Payments</p>
						<p>4. My Files</p>
						<p>5. Help and FAQs</p>
						<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
							<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
						</form> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Feature 6 : Purchasing -->
	<div id="feature-6">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center center">
					<div class="text-logo">
					<div class="img-logo"></div>
						<h2>Purchasing</h2>
						<h4>This module contains list of suppliers and<br>requests made to each suppliers for easy<br>tracking of delivery to receipt issuance.</h4>
						<p>1. Suppliers (requests, inventory, quotations)</p>
						<p>2. Purchase (delivery, payment, returns)</p>
						<p>3. Issuance</p>
						<p>4. Awarding</p>
						<p>5. Inventory Monitoring</p>
						<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
							<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
						</form> -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="overflow-img right">
						{{ theme:image file="features/s6.png" }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Feature 7 : Construction -->
	<div id="feature-7">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="overflow-img left">
						{{ theme:image file="features/s7.png" }}
					</div>
				</div>
				<div class="col-md-6 text-center center">
					<div class="text-logo">
					<div class="img-logo"></div>
						<h2>Construction</h2>
						<h4>Depicts the overall progress of each<br>property according to project schedule.<br>Use the mobility of tablets to monitor<br>site developments.</h4>
						<p>1. Compare Planned Development vs. Actual Completion</p>
						<p>2. Tablet Application for site monitoring and remote<br>photo/view updates</p>
						<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
							<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
						</form> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Feature 8 : Accounting -->
	<div id="feature-8">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center center">
					<div class="text-logo">
					<div class="img-logo"></div>
						<h2>Accounting</h2>
						<h4>Contains organized accounts of: Assets,<br>Liabilites and Owners Income and<br>Expenses. Issue receipts and store<br>payment history via email.</h4>
						<p>1. Dashboard <span class="pull-right" style="width: 250px;">5. Admin</span></p>
						<p>2. Accounts <span class="pull-right" style="width: 250px;">6. Settings</span></p>
						<p>3. Entry <span class="pull-right" style="width: 250px;">7. Help</span></p>
						<p>4. Reports</p>
						<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
							<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
						</form> -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="overflow-img right">
						{{ theme:image file="features/s8.png" }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Feature 9 : Project Management -->
	<div id="feature-9">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="overflow-img left">
						{{ theme:image file="features/s9.png" }}
					</div>
				</div>
				<div class="col-md-6 text-center center">
					<div class="text-logo">
					<div class="img-logo"></div>
						<h2>Property Management</h2>
						<h4>Provide building administrator access<br>to Rental Inventory, Utility Computation,<br>Billing, and Collection</h4>
						<!-- <p>1. Compare Planned Development vs. Actual Completion</p>
						<p>2. Tablet Application for site monitoring and remote<br>photo/view updates</p> -->
						<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
							<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
						</form> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Contact Section -->
<!-- <div id="contact" class="text-center">
	<div class="container">
		<div class="section-title text-center">
			<h2>Start your subscription today.</h2>
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<form action="<?php //echo base_url('contact-us'); ?>" method="POST">
						<div class="input-group">
							<input type="email" name="email" id="email" class="form-control" placeholder="Your Email Address" required>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-secondary" type="button">Request a demo</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			<h5>Save over Php 500,000 when you subscribe</h5>
		</div>
	</div>
</div> -->

{{ theme:js file="main.js" }}