<header id="header">
	<div class="intro">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="intro-text">
						<div class="col-md-6">
							<div class="bg-logo"></div>
							<div class="fg-logo"></div>
							<div class="top-logo"></div>
							<!-- <div class="icon-set"></div> -->
							<div class="icon-1"></div>
							<div class="icon-2"></div>
							<div class="icon-3"></div>
							<div class="icon-4"></div>
						</div>
						<div class="col-md-6">
							<div class="text-logo">
								<h1>Manage your real-estate<br>business on-demand,<br>anytime, anywhere!</h1>
								<!-- <h4>Track project status on-site if you're not on-site.</h4> -->
								<!-- <form action="<?php echo base_url('contact-us'); ?>" method="POST">
									<div class="input-group col-md-8">
										<input type="email" class="form-control" name="email" id="email" placeholder="Your Email Address" required>
										<span class="input-group-btn">
											<button type="submit" class="btn btn-secondary" type="button">Request a demo</button>
										</span>
									</div>
								</form> -->
								<h5>Cornerstone provides a 360-degree view of your projects.
								<br>It’s an effective end-to-end tool that manages your data, from
								<br>administrative and client documentation, sellers & buyers info,
								<br>purchasing, construction to accounting.</h5>
								<form action="<?php echo base_url('index.php/contact-us'); ?>" method="POST">
									<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="scroll-down continuos bounce">
	<a href="#about" class="page-scroll" onclick="event.preventDefault(); //scroll_down();">
		<!-- <img alt="scroll-down.png" src="<?php echo base_url('img/homepage/arrow-down.png'); ?>" height="50" /> -->
		{{ theme:image file="homepage/arrow-down.png" alt="homepage/scroll-down.png" height="50" }}
	</a>
</div>

<!-- About Section -->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="about-text">
					<h2>Boost your real estate business!</h2>
				</div>
				<div class="col-md-offset-2 col-md-8">
					<div class="video-wrapper">
						<iframe width="720" height="405" src="https://www.youtube.com/embed/OrHm-kxZ1zE?vq=hd720&amp;rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- About2 Section -->
<div id="about2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center center">
				<div class="text-logo">
				<div class="img-logo"></div>
					<h2>Forward Solutions</h2>
					<h4>is an I.T Company engaged in business process software<br>
					development established since 2011. They developed the<br>
					Cornerstone Project Management System to assist real estate<br>
					developers in managing their data and their business<br>
					objectives efficiently.</h4>
					<!-- <form action="<?php //echo base_url('contact-us'); ?>" method="POST">
						<button type="submit" href="#" class="btn btn-lg btn-more">Learn More</button>
					</form> -->
				</div>
			</div>
			<div class="col-md-6">
				<div class="overflow-img right">
					<!-- <img src="<?php echo base_url('assets/img/homepage/forward_solutions_logo.png'); ?>"> -->
					{{ theme:image file="homepage/forward_solutions_logo.png" }}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Contact Section -->
<div id="contact" class="text-center">
	<div class="container">
		<div class="section-title text-center">
			<h2>Learn more about Cornerstone!</h2>
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<form action="<?php echo base_url('index.php/contact-us'); ?>" method="POST">
						<div class="input-group">
							<input type="email" name="email" id="email" class="form-control" placeholder="Your Email Address" required>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-secondary" type="button">Request a demo</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{{ theme:js file="main.js" }}
<!-- <script type="text/javascript" src="<?php echo base_url('assets/js/main.js'); ?>"></script>