<!-- Header -->
<header id="header">
	<div class="intro">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="header-text">
						<div class="col-md-offset-3 col-md-6">
							<div class="text-header text-center">
								<h1>Package Inclusions</h1>
							</div>
						</div>
					</div>
					<div id="package-wrapper">
						<div class="package-contents">
							<div class="content-header">
								Software Function
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s1.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s1.png" width="65" height="65" class="pull-left" }}
								<p><strong>Project & Property Monitoring</strong> - View all projects in one page. Includes inventory, payment schedules, and virtual maps.</p>
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s2.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s2.png" width="65" height="65" class="pull-left" }}
								<p><strong>Sales Team Dashboard</strong> - Includes client & project views and commission tracking.</p>
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s3.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s3.png" width="65" height="65" class="pull-left" }}
								<p><strong>Client Dashboard</strong> - Shows owned properties & documentation, as well as payment transactions.</p>
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s4.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s4.png" width="65" height="65" class="pull-left" }}
								<p><strong>Purchasing</strong> - Includes suppliers lists, purchased transactions, and inventory monitoring.</p>
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s6.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s6.png" width="65" height="65" class="pull-left" }}
								<p><strong>Construction</strong> - Contains GANTT chart with monitoring of plans & actual implementation and an on-site Android app.</p>
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s7.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s7.png" width="65" height="65" class="pull-left" }}
								<p><strong>Accounting</strong> - Financial statements and chart of accounts.</p>
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s11.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s11.png" width="65" height="65" class="pull-left" }}
								<p><strong>Property Management</strong> - Provide building administrators access to Rental Inventory, Utility Consumption, Billing, and Collection.</p>
							</div>

							<div class="content-header">
								Client Support
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s5.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s5.png" width="65" height="65" class="pull-left" }}
								<p><strong>Monthly Upgrade</strong> - Regular optimization of the process to further advance the system.</p>
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s8.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s8.png" width="65" height="65" class="pull-left" }}
								<p><strong>Technical Maintenance</strong> - Ensuring that technical aspects of the system is monitored closely.</p>
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s9.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s9.png" width="65" height="65" class="pull-left" }}
								<p><strong>Hosting</strong> - Worry-free data hosting for all important logs across business units.</p>
							</div>
							<div class="package-content">
								<!-- <img src="<?php echo base_url('assets/img/packages/s10.png'); ?>" width="65" height="65" class="pull-left"> -->
								{{ theme:image file="packages/s10.png" width="65" height="65" class="pull-left" }}
								<p><strong>Monthly Report + Client Meeting</strong> - Reachable service team for continued account servicing.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

{{ theme:js file="package.js" }}