<!-- About Section -->
<div id="register">
	<div class="container register-wrapper">
		<div class="row">
			
			<div class="col-md-6 ">
				<form action="<?php echo base_url('index.php/register/sign_up'); ?>" id="register-form" method="POST">
				  <div class="form-group">
				    <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Full Name" value="<?php echo ($this->session->flashdata('reset') != 'FALSE') ? "" : @$full_name; ?>" required>
				  </div>
				  <div class="form-group">
				    <input type="text" class="form-control" id="company" name="company" placeholder="Company" value="<?php echo ($this->session->flashdata('reset') != 'FALSE') ? "" : @$company; ?>" required>
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="<?php echo ($this->session->flashdata('reset') != 'FALSE') ? "" : @$email; ?>" required <?php echo (isset($email)) ? 'readonly' : '' ; ?>>
				  </div>
				  <div class="form-group">
				    <input type="number" class="form-control" id="contact_no" name="contact_no" placeholder="Contact Number" value="<?php echo ($this->session->flashdata('reset') != 'FALSE') ? "" : @$contact_no; ?>" required>
				  </div>
				  <div class="g-recaptcha" data-sitekey="6LdpchoUAAAAAKO7JON4XJzV8BgTOiy7xTzQRqMX"></div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
			<div class="col-md-6 text-center">
				<div id="register-text">
					<h2>Experience the efficiency of<br>cloud-based project management</h2>
					<img src="<?php echo base_url('assets/img/homepage/chip_set.png'); ?>">
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(function() {
	setTimeout(function() {
		$('.alert').fadeOut();
	}, 5000)
});

$(document)	.ready(function(){

	var msg = '<?php echo $this->session->flashdata('msg'); ?>';
	if (msg != '' && msg != null) {
		bootbox.dialog({
			'message':msg,
			buttons: {
				cancel: {
					label: 'Ok',
					className: 'btn-contact'
				}
			},
		});
	}
	// $('#register-form').submit(function(e){
	// 	var form = $(this).serializeArray();

	// 	var data = [];
	// 	data.push({name:'user_id',value:132});
	// 	data.push({name:'company_name',value:form[1].value});
	// 	data.push({name:'name',value:form[0].value});
	// 	data.push({name:'email',value:form[2].value});
	// 	data.push({name:'contact_no',value:form[3].value});
	// 	data.push({name:'message',value:'Hi Cornerstone Team,\r\n\r\nI would like to request for a demo.\r\n\r\nThanks!'});

	// 	// e.preventDefault();
		
	// 	$.ajax({
	// 		type: 'POST',
	// 		url: 'http://cornerstone-crm.forward-dev.com/api/cornerstone/save',
	// 		data: data,
	// 		dataType: "json",
	// 		success: function(response){
	// 			console.log('sent');
	// 		},
	// 		error: function(xhr,status,error){
	// 			console.log(xhr);
	// 			console.log(status);
	// 			console.log(error);
	// 		}
	// 	});

	// 	return true;
	// });

});
</script>