<?php if(!isset($footer) OR $footer): ?>
	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="col-md-4">
				<p class="header lowercase">Software</p>
				<div class="contact-item">
					<a href="{{ url:site }}package"><p>Package</p></a>
					<a href="{{ url:site }}features"><p>Features</p></a>
					<a href="{{ url:site }}privacy-policy"><p>Privacy Policy</p></a>
					<a href="{{ url:site }}terms-of-use"><p>Terms of Use</p></a>
					<a href="{{ url:site }}cloud-security-statement"><p>Cloud Security Statement</p></a>
					<a href="{{ url:site }}contact-us"><p>Contact Us</p></a>
				</div>
			</div>
			<div class="col-md-2 hide">
				<p class="header lowercase">Company/Product</p>
				<div class="contact-item">
					<a class="hide" href="javascript:void(0)" data-toggle="modal" data-target="#map_modal"><p>Sitemap</p></a>
				</div>
			</div>
			<div class="col-md-2 hide">
				<p class="header lowercase">For Customers</p>
				<div class="contact-item">
					<a href="{{ url:site }}faqs"><p>Help Center/FAQs</p></a>
				</div>
			</div>
			<div class="col-md-3">
				<p class="header">Cornerstone</p>
				<div class="contact-item">
					<p>Unit 1404 Paragon Plaza EDSA corner Reliance Street,</p>
					<p>Mandaluyong City, 1550 Metro Manila, Philippines</p>
					<p>746-71-56</p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="contact-item">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9184.027419578944!2d121.04665646503767!3d14.575819812164983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c846cc9c49f1%3A0x59b55a0405bc249c!2sForward+Solutions!5e0!3m2!1sen!2sph!4v1503472021837" width="100%" height="250" frameborder="0" style="border:0; border-radius:9px;" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
<?php endif; ?>