<!-- Navigation
==========================================-->

<nav id="menu" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid"> 
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand page-scroll" href="<?php echo base_url('/'); ?>">
				<div class="img-logo"></div>
				<div class="img-sub" style="position: relative; top: -50px; left: 145px;">
					{{ variables:header_title }}
				</div>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="<?php echo $this->uri->segment(1) == ""? 'active' : ''; ?>"><a href="{{ url:site }}" class="page-scroll">Home</a></li>
				<li class="<?php echo $this->uri->segment(1) == "about"? 'active' : ''; ?>"><a href="{{ url:site }}about" class="page-scroll">About</a></li>
				<li class="<?php echo $this->uri->segment(1) == "package"? 'active' : ''; ?>"><a href="{{ url:site }}package" class="page-scroll">Package</a></li>
				<li class="dropdown <?php echo in_array($this->uri->segment(1), array('features','product-demo'))? 'active' : ''; ?>">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features
			        <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li class="<?php echo $this->uri->segment(1) == "features"? 'active' : ''; ?>"><a href="{{ url:site }}features">Modules</a></li>
			          <li class="<?php echo $this->uri->segment(1) == "product-demo"? 'active' : ''; ?>"><a href="{{ url:site }}product-demo">Product Demo</a></li>
			        </ul>
		      	</li>
				<li class="<?php echo $this->uri->segment(1) == "why-cornerstone"? 'active' : ''; ?>"><a href="{{ url:site }}why-cornerstone" class="page-scroll">Why Cornerstone?</a></li>
				<li class="<?php echo in_array($this->uri->segment(1), array("cornerhub","blog"))? 'active' : ''; ?>"><a href="{{ url:site }}cornerhub" class="page-scroll">Cornerhub</a></li>
				<li class="<?php echo $this->uri->segment(1) == "contact-us"? 'active' : ''; ?>"><a href="{{ url:site }}contact-us" class="btn btn-lg btn-contact">Contact us</a></li>
				<li class="<?php echo $this->uri->segment(1) == "login"? 'active' : ''; ?>" style="margin-left:-20px"><a href="{{ url:site }}login" class="btn btn-lg btn-contact">Client Login</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse --> 
	</div>
</nav>