<?php
	$this->load->library('variables/variables');
    $variables = $this->variables->get_all();
?>

<div class="modal fade" id="video_modal" tabindex="-1" role="dialog" aria-labelledby="videoModal" align="center">
    <div class="modal-dialog" role="document">
  		<div class="pull-right">
     	 	<span class="x-featured" aria-hidden="true" data-dismiss="modal" aria-label="Close">
     	 		{{ theme:image file="close.png" }}
     	 	</span>
    	</div>
    	<!-- Modal content-->
	    <div class="embed-responsive embed-responsive-4by3" id="video-content">
	    	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<?php echo get_youtube_id_from_url($variables['home_banner_url']);?>" frameborder="0" allowfullscreen></iframe>
	    </div>
  	</div>
</div>

<div class="modal fade" id="map_modal" tabindex="-1" role="dialog" aria-labelledby="mapModal" align="center">
    <div class="modal-dialog" role="document">
      <div class="pull-right">
          <span class="x-featured" aria-hidden="true" data-dismiss="modal" aria-label="Close">
            {{ theme:image file="close.png" }}
          </span>
        </div>
      <!-- Modal content-->
      <div class="embed-responsive embed-responsive-4by3" id="video-content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9184.027419578944!2d121.04665646503767!3d14.575819812164983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c846cc9c49f1%3A0x59b55a0405bc249c!2sForward+Solutions!5e0!3m2!1sen!2sph!4v1503472021837" width="100%" height="250" frameborder="0" style="border:0; border-radius:9px;" allowfullscreen></iframe>
      </div>
    </div>
</div>

<script type="text/javascript">
  $(document).on('ready', function(){
    $("#video_modal").on('hidden.bs.modal', function (e) {
        $("#video_modal div div iframe").attr("src", $("#video_modal div div iframe").attr("src"));
    });
  });
</script>
