@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body, html {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	background-color: #fff; /*#eff2f4*/
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 34px;
	color: #333;
	/*text-transform: uppercase;*/
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}
h4 {
	font-size: 24px;
	/*text-transform: uppercase;*/
	font-weight: 400;
	color: #333;
}
h5 {
	/*text-transform: uppercase;*/
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	/*color: #8eb640;*/
	color: #c22127;
}
a:hover, a:focus {
	text-decoration: none;
	/*color: #222;*/
	color: #c22127;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #8eb640;
	margin: 0;
	margin-bottom: 40px;
	border: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-contact {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 14px;
	/*border: 2px solid transparent;*/
	letter-spacing: 2px;
	margin: 0 !important;
	color: #fff;
	/*margin: 5px 15px !important;*/
	background-color: #c22127;
	/*padding: 10px 16px;*/
}
.btn-contact:hover {
	color: #515d6f;
}
.btn-contact:focus {
	color:#fff;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
.invisible {
	opacity: 0;
}
.visible {
	opacity: 1;
}
.animate {
	-webkit-animation-duration: 1s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.continuos {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.scroll-down { 
	display: block;
	/*position: absolute;*/
	background-color: #eff2f4;
	color: white;
	left: 0;
	bottom: -10px;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-family: "Open Sans";
	font-weight: 300;
	letter-spacing: 0.9px;
	cursor: pointer;
	z-index: 100;
}
.scroll-down img { 
	display: block;
	margin: auto;
	margin-top: 10px;
}
.scroll-up img { 
	display: block;
	margin: auto;
	margin-top: 10px;
}
.scroll-up.on-2 img { 
	display: block;
	margin: auto;
	margin-top: 10px;
	-webkit-filter: brightness(10);
	filter: brightness(10);
}
.scroll-up { 
	position: absolute;
	background-color: transparent;
	right: 50px;
	bottom: 20px;
	text-align: center;
	font-size: 10px !important;
	font-weight: 300;
	cursor: pointer;
	z-index: 101;
}
.scroll-up.on-2 { 
	color: #fff;
	background-color: transparent !important;
}
.rotate90 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image: url("../img/clients/arrow-lr.png") !important;
	background-position: 0px 0px !important;
	left: 0 !important;
	right: 0 !important;
	width: 48px !important;
	height: 48px !important;
	-moz-background-size: 96px 48px !important;
	-webkit-background-size: 96px 48px !important; 
	background-size: 96px 48px !important; 
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background-image: url("../img/clients/arrow-lr.png") !important;
	background-position: -48px 0px !important;
	/*left: 0 !important;*/
	right: 0 !important;
	width: 48px !important;
	height: 48px !important;
	-moz-background-size: 96px 48px !important;
	-webkit-background-size: 96px 48px !important; 
	background-size: 96px 48px !important; 
}
/* Navigation */
#menu {
	padding: 8px 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	/*background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);*/
	z-index: 99;
}
#menu a.navbar-brand {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 12px;
	text-transform: uppercase;
}
#menu a.navbar-brand div.img-logo {
	background: url('../img/homepage/cornerstone-logo.png');
	width: 140px;
	height: 65px;
	background-position: 0px 0px;
	margin-top: 5px;
}
#menu.on-2 a.navbar-brand div.img-logo {
	background: url('../img/homepage/cornerstone-logo.png');
	width: 140px;
	height: 66px;
	background-position: 0px -70px;
	margin-top: 5px;
}
#menu.on-3 a.navbar-brand div.img-logo {
	background: url('../img/homepage/cornerstone-logo.png');
	width: 140px;
	height: 66px;
	background-position: 0px -70px;
	margin-top: 5px;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Roboto', sans-serif;
	text-transform: none;
	color: #515d6f;
	font-weight: 900;
	font-size: 14px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 2px;
	margin: 10px 10px 0 15px;
}
#menu.navbar-default .navbar-nav > li.active > a, #menu.navbar-default .navbar-nav > li > a:hover {
    border-top: 1.5px solid #c22127;
}
#menu.navbar-default .navbar-nav > li > a.btn-contact {
	font-family: 'Roboto', sans-serif;
	text-transform: none;
	font-weight: 900;
	font-size: 14px;
	border: 2px solid transparent;
	letter-spacing: 2px;
	margin: 0 !important;
	color: #fff;
	margin: 5px 15px !important;
	background-color: #c22127;
	padding: 10px 16px;
    min-width: 100px;
}
#menu.navbar-default .navbar-nav > li.active > a.btn-contact {
	color: #c22127;
	background-color: #fff;
	padding: 11.5px 16px;
	border: 1px solid #d3d3d3;
}
#menu.on-2.navbar-default .navbar-nav > li > a.btn-contact {
	color: #fff;
	background-color: #38abbe;
}
#menu.on-3.navbar-default .navbar-nav > li > a.btn-contact {
	color: #fff;
	background-color: #38abbe;
}
#menu.on-2.navbar-default .navbar-nav > li > a {
	color: #fff;
}
#menu.on-3.navbar-default .navbar-nav > li > a {
	color: #fff;
}
#menu.on-2 a.navbar-brand {
	color: #fff !important;
}
#menu.on-3 a.navbar-brand {
	color: #fff !important;
}
#menu.navbar-default .navbar-nav > li > button {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
	font-size: 14px;
	/*padding: 5px 0;*/
	border: 2px solid transparent;
	letter-spacing: 2px;
	margin: 5px 15px;
	background-color: #c22127;
}
#menu.on-2.navbar-default .navbar-nav > li > button {
	color: #fff;
	background-color: #38abbe;
}
#menu.on-3.navbar-default .navbar-nav > li > button {
	color: #fff;
	background-color: #38abbe;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #c22127;
}
#menu.navbar-default .navbar-nav > li > a.btn-contact:hover {
	color: #c22127;
	background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 11.5px 16px;
    transition: background-color 0.5s ease-in;
}
#menu.navbar-default .navbar-nav > li.active > a.btn-contact:hover {
	color: #fff !important;
	background-color: #c22127;
	transition: background-color 0.5s ease-in;
}
#menu.on-2.navbar-default .navbar-nav > li > a:hover {
	color: #fff !important;
}
#menu.on-3.navbar-default .navbar-nav > li > a:hover {
	color: #fff !important;
}
.on {
	background-color: #eff2f4 !important;
	padding: 0 !important;
	/*padding: 5px 0 !important;*/
	/*box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.35);*/
}
.on-2 {
	background-color: #c22127 !important;
	padding: 50px 0 0 0 !important;
}
.on-2:before {
	position: absolute;
	border-top: 50px solid #eff2f4;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	top: 0;
	left: 0;
}
.on-3 {
	background-color: #c22127 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #c22127 !important;
	background-color: transparent;
}
.on-2.navbar-default .navbar-nav > .active > a, .on-2.navbar-default .navbar-nav > .active > a:hover, .on-2.navbar-default .navbar-nav > .active > a:focus {
	color: #fff !important;
	background-color: transparent;
}
.on-3.navbar-default .navbar-nav > .active > a, .on-3.navbar-default .navbar-nav > .active > a:hover, .on-3.navbar-default .navbar-nav > .active > a:focus {
	color: #fff !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #8eb640;
	border-color: #8eb640;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	/*margin-bottom: 70px;*/
	height: 130px;
}
.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
	color: rgba(255,255,255,0.8);
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #72a411;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #628d0f;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	/*background: url(../img/intro-bg.jpg) no-repeat center center;*/
	background-color: #dcdcdc;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 600px;
}
.intro .overlay {
	/*background: rgba(0,0,0,0.4);*/
	background-color: #eff2f4;
}
.intro-text img {
	/*width: 100%*/
}
.intro .btn {
    border-width: 0;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    outline: none !important;
    background-image: none !important;
    background-color: #38abbe;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
    text-shadow: none;
    border-radius: 0;
}
.intro button.btn-best-deal {
    border-width: 0;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 900;
    color: #fff;
    text-shadow: none;
    text-align: center;
    text-transform: uppercase;
    background-color: #c22127 !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 35px;
    cursor: default;
}
.intro .form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.intro .overlay .panel-wrapper {
	height: 500px;
	background-color: transparent;
}
.intro .overlay .panel-wrapper .panel {	
	min-height: 470px;
	margin: 15px 5px;
	background-color: transparent;
	border-radius: 0;
	/*padding: 0 !important;*/
	width: 24% !important;
	padding-top: 50px;
}
.panel-1 {
	background-color: #006699 !important;
}
.panel-2 {
	background-color: #ff9900 !important;
}
.panel-3 {
	background-color: #d7252c !important;
}
.panel-4 {
	/*background-color: #006699 !important;*/
	border: 1px solid #cfd1d3;
}
.best-deal {
	margin: 0 5px !important;
	height: 100% !important;
	padding-top: 30px !important;
}
.header-text {
	padding-top: 150px;
	padding-bottom: 100px;
	text-align: center;
	min-height: 200px;
}
.intro h1 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 10em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro h5 {
	font-size: 18px;
	color: #515d6f;
	font-weight: 400;
	line-height: 30px;
}
.intro .panel h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
}
.intro .panel h4 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
}
.intro .panel-4 h4 {
	margin: 20px 0;
	font-weight: 500;
	font-size: 14px;
}
.intro .panel-4 h3, .intro .panel-4 h4, .intro .panel-4 p {
	color: #717b8a !important;
}
.intro .panel p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
.intro .btn-more {
    height: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
.intro-text .btn-more {
    height: 43px;
    border: 2px solid #38abbe;
    border-radius: 5px;
    color: #38abbe;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
.intro-text .btn-more:hover {
    border: 2px solid #38abbe;
    color: #fff;
    background-color: #38abbe;
}
.intro span {
	color: #fff;
	font-weight: 600;
}
header .intro-text {
    padding-top: 105px;
	padding-bottom: 200px;
	text-align: center;
	min-height: 400px;
}
#client .intro-text {
	padding-top: 0;
	padding-bottom: 200px;
	text-align: center;
	min-height: 400px;
}
#features .intro-text {
	padding-top: 100px;
	padding-bottom: 20px;
	text-align: center;
	min-height: 400px;
}
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slideUp {
	0% {
		transform: translateY(25%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
header .bg-logo {
	background: url('../img/banner/bg.png') no-repeat;
    width: 100%;
    /*height: 530px;*/
}
header .laptop-logo {
	background: url('../img/banner/laptop.png') no-repeat;
    width: 100%;
    height: 530px;
	/*background-position: 7vh 0px;*/

	/* this section calls the slideUp animation we defined above */
	animation-name: slideUp;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
}
header .app-logo {
    background: url(../img/banner/app.png) no-repeat;
    width: 40%;
    height: 100%;
    background-position: 0px 0px;
    z-index: 97;
    float: right;
    position: absolute;
    top: 80px;
    left: -85px;
    background-size: 205px;

	/* this section calls the slideDown animation we defined above */
	animation-name: slideDown;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}
header .top-logo {
	background: url('../img/homepage/chip03.png') no-repeat;
	width: 50%;
	height: 300px;
	background-position: 0px 0px;
	z-index: 97;
	float: right;
	position: absolute;
	top: 20px;
	left: 270px;

	/* this section calls the slideDown animation we defined above */
	animation-name: slideDown;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2.5s;
}
#header div.icon-set {
	background: url('../img/homepage/chip_set.png') no-repeat;
	width: 100%;
	height: 125px;
	position: absolute;
	bottom: 0;
	left: 330px;
	background-size: 290px 70px; 

	/* this section calls the slideUp animation we defined above */
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 6s;
}
header .icon-1 {
	background: url('../img/homepage/c1.png') no-repeat;
	width: 65px;
	height: 75px;
	position: absolute;
	bottom: 55px;
	left: 330px;
	/*background-size: 64px 80px; */

	/* this section calls the slideUp animation we defined above */
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
header .icon-2 {
	background: url('../img/homepage/c2.png') no-repeat;
	width: 65px;
	height: 75px;
	position: absolute;
	bottom: 55px;
	left: 405px;
	/*background-size: 64px 80px; */

	/* this section calls the slideUp animation we defined above */
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	opacity: 0;
}
header .icon-3 {
	background: url('../img/homepage/c3.png') no-repeat;
	width: 65px;
	height: 75px;
	position: absolute;
	bottom: 55px;
	left: 480px;
	/*background-size: 64px 80px; */

	/* this section calls the slideUp animation we defined above */
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
	opacity: 0;
}
header .icon-4 {
	background: url('../img/homepage/c4.png') no-repeat;
	width: 65px;
	height: 75px;
	position: absolute;
	bottom: 55px;
	left: 555px;
	/*background-size: 64px 80px; */

	/* this section calls the slideUp animation we defined above */
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
	opacity: 0;
}
header .clients-img {
	background: url('../img/clients/clients.png') no-repeat;
	width: 100%;
	height: 500px;
	background-position: 7vh 0px;
}
#header div.text-logo {
	margin-top: 75px;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	margin-left: 35px;
}
#header div.text-logo h1 {
	font-weight: 300;
	font-size: 48px;
	color: #c22127;
}
#header div.text-logo h4 {
	font-size: 18px;
	color: #515d6f;
}
#header div.text-header {
	font-family: 'Roboto', sans-serif;
}
#header div.text-header h1 {
	font-weight: 300;
	font-size: 48px;
	color: #c22127;
}
#header div.text-header h4 {
	font-size: 18px;
	color: #515d6f;
}
#header div.text-header h4 a {
	color: #c0c9d7 !important;
	margin-right: 10px;
	margin-left: 10px;
}
#header div.text-header h4 a.selected {
	color: #515d6f !important;
}
#header div.icon-set {
	background: url('../img/homepage/chip_set.png') no-repeat;
	width: 100%;
	height: 125px;
	position: absolute;
	bottom: 0;
	left: 330px;
	background-size: 290px 70px; 

	/* this section calls the slideUp animation we defined above */
	animation-name: swipeX;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 6s;
}
/* Slider Section */
#slider {
	padding: 85px 0 75px 0;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	color: #c22127;
	/*height: 95vh;*/
	z-index: 99
}
#slider:before {
	content:"";
	position: relative;
	border-top: 50px solid #eff2f4;
	border-left: 49vw solid transparent;
	border-right: 49vw solid transparent;
	top: -38px;
	left: 5px;
	z-index: 99
}
#slider h2 {
	color: #c22127;
}
#slider h3 {
	color: #c22127;
	font-size: 20px;
}
#slider .slider-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#slider .slider-text h2 {
	font-weight: 200;
	font-size: 36px;
	/*letter-spacing: 2px;*/
}
#slider .slider-img {
	display: inline-block;
	position: relative;
}
#slider .slider-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#slider p {
	line-height: 24px;
	margin: 15px 0 30px;
}
#slider .video-wrapper {
	width: 720px;
	height: 405px;
	text-align: center;
	margin: 5vh auto;
	-webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.34);
}
/* About Section */
#about {
	padding: 85px 0 75px 0;
	background-color: #c22127;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
	z-index: 99
}
#about:before {
	content:"";
	position: relative;
	border-top: 50px solid #eff2f4;
	border-left: 49vw solid transparent;
	border-right: 49vw solid transparent;
	top: -38px;
	left: 5px;
	z-index: 99
}
#about h2 {
	color: #fff;
}
#about h3 {
	color: #fff;
	font-size: 20px;
}
#about .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#about .about-text h2 {
	font-weight: 700;
	font-size: 36px;
}
#about .about-img {
	display: inline-block;
	position: relative;
}
#about .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
}
#about .video-wrapper {
	width: 720px;
	height: 405px;
	text-align: center;
	margin: 5vh auto;
	-webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.34);
}
/* About2 Section */
#about2 {
	padding: 120px 0 75px 0;
	background-color: #eff2f4;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#about2 h2 {
	color: #fff;
}
#about2 h3 {
	color: #fff;
	font-size: 20px;
}
#about2 div.img-logo {
	margin: 10vh 0 25px 0;
	background: url('../img/homepage/briefcase-icon.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#about2 div.text-logo {
	margin-top: 0;
}
#about2 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #c22127;
}
#about2 div.text-logo h4 {
	font-size: 18px;
	color: #515d6f;
	line-height: 30px;
}
#about2 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #515d6f;
    border-radius: 5px;
    padding: 12px 25px;
    color: #515d6f;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#about2 div.text-logo .btn-more:hover {
    border: 2px solid #c22127;
    color: #fff;
    background-color: #c22127;
}
#about2 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#about2 div.overflow-img img {
	width: 30vw;
	margin-top: 170px;
	margin-left: 80px;
}
#about2 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#about2 .about-text h2 {
	font-weight: 700;
	font-size: 36px; 
}
#about2 .about-img {
	display: inline-block;
	position: relative;
}
#about2 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#about2 p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* About3 Section */
#about3 {
	padding: 120px 0 75px 0;
	background-color: #c22127;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#about3 h2 {
	color: #fff;
}
#about3 h3 {
	color: #fff;
	font-size: 20px;
}
#about3 div.img-logo {
	margin: 10vh 0 25px 0;
	background: url('../img/homepage/icon-pager_02.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#about3 div.text-logo {
	margin-top: 0;
}
#about3 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #fff;
}
#about3 div.text-logo h4 {
	font-size: 18px;
	color: #fff;
}
#about3 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 12px 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#about3 div.text-logo .btn-more:hover {
    border: 2px solid #38abbe;
    background-color: #38abbe;
}
#about3 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#about3 div.overflow-img img.top {
	position: absolute;
	top: 0;
	right: 0;
	height: 95%; 
}
#about3 div.overflow-img img.bottom {
	position: absolute;
	bottom: 0;
	right: 5%;
	height: 95%; 
}
#about3 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#about3 .about-text h2 {
	font-weight: 700;
	font-size: 36px;
}
#about3 .about-img {
	display: inline-block;
	position: relative;
}
#about3 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#about3 p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* About4 Section */
#about4 {
	padding: 120px 0 75px 0;
	background-color: #eff2f4;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#about4 h2 {
	color: #fff;
}
#about4 h3 {
	color: #fff;
	font-size: 20px;
}
#about4 div.img-logo {
	margin: 10vh 0 25px 0;
	background: url('../img/homepage/icon-pager_03.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#about4 div.text-logo {
	margin-top: 0;
}
#about4 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #c22127;
}
#about4 div.text-logo h4 {
	font-size: 18px;
	color: #515d6f;
}
#about4 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #515d6f;
    border-radius: 5px;
    padding: 12px 25px;
    color: #515d6f;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#about4 div.text-logo .btn-more:hover {
    border: 2px solid #c22127;
    color: #fff;
    background-color: #c22127;
}
#about4 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#about4 div.overflow-img img {
	width: 60vw;
}
#about4 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#about4 .about-text h2 {
	font-weight: 700;
	font-size: 36px; 
}
#about4 .about-img {
	display: inline-block;
	position: relative;
}
#about4 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#about4 p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* Demo Section */
#demo {
	min-height: 50px;
	padding: 20px 0;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	/*transition: all 0.8s;*/
	/*box-shadow: 0 -1px 10px 2px rgba(0, 0, 0, 0.35);*/
}
#demo h2 {
	font-size: 36px;
	font-weight: 300;
	color: #515d6f;
	margin: 0 !important;
}
#demo .form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #eff2f4;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#demo .btn {
    border-width: 0;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    outline: none !important;
    background-image: none !important;
    background-color: #38abbe;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
    text-shadow: none;
    border-radius: 0;
}
/* Menu Section */
#restaurant-menu {
	padding: 100px 0 60px 0;
	height: 95vh;
}
#restaurant-menu .section-title {
	background: #fff url(../img/menu-bg.jpg) center center no-repeat fixed;
	background-size: cover;
}
#restaurant-menu .section-title h2 {
	color: #fff;
}
#restaurant-menu img {
	width: 300px;
	box-shadow: 15px 0 #a7c44c;
}
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 26px;
	display: block;
	font-weight: 500;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 35px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 600;
	font-size: 17px;
	color: #555;
	border-bottom: 2px dotted rgb(213, 213, 213);
}
#restaurant-menu .menu-item-description {
	font-style: italic;
	font-size: 15px;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 600;
	color: #555;
	margin-top: -26px;
}
/* Portfolio Section */
#portfolio {
	padding: 0 0 120px 0;
}
#portfolio .section-title {
	background: #444 url(../img/gallery-bg.jpg) center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}
#portfolio .section-title h2 {
	color: #fff;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin: 0 10px;
	padding: 20px 0;
}
ol.type li a {
	color: #999;
	font-weight: 500;
	font-size: 14px;
	padding: 12px 24px;
	background: #eee;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
ol.type li a.active {
	color: #fff;
	background-color: #8eb640;
}
ol.type li a:hover {
	color: #fff;
	background-color: #8eb640;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
}
.portfolio-item .hover-bg:before {
	display: block;
	content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: 6px;
	border: 1px solid rgba(255, 255, 255, 0.6);
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: 500;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Team Section */
#team {
	color: #fff;
	background: #444 url(../img/team-bg.jpg) center top no-repeat fixed;
	background-size: cover;
}
#team .overlay {
	padding: 120px 0 80px 0;
	background: rgba(0, 0, 0, 0.6);
}
#team h2, #team p {
	color: #fff;
}
#team hr {
	background: #fff;
}
#team h3 {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	margin: 5px 0;
}
#team img {
	width: 280px;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .team-img {
	display: inline-block;
	position: relative;
}
#team .thumbnail .team-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
#team .thumbnail .caption {
	padding-top: 10px;
}
#team .thumbnail .caption p {
	color: rgba(255,255,255,0.7);
	padding: 0 10px;
	font-size: 15px;
}
/* Call Reservation Section */
#call-reservation {
	padding: 90px 0;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8eb640+50,779936+100 */
	background: rgb(142,182,64); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb640', endColorstr='#779936', GradientType=0 ); /* IE6-9 */
}
#call-reservation .overlay {
	padding: 80px 0;
	background: #8eb640;
}
#call-reservation h2 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 400;
	margin: 0;
}
#call-reservation hr {
	background: #fff;
}
#call-reservation h3 {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	margin: 5px 0;
}
/* Contact Section */
#contact {
	padding: 40px 0;
	background: #fff; /* #F6F6F6 */
	font-family: 'Roboto', sans-serif;
	min-height: 230px;
}
#contact .section-title p {
	margin-top: 10px;
	color: #515d6f;
	font-size: 14px;
	font-weight: 300;
}
#contact form {
	padding: 0;
}
#contact h2 {
	font-size: 36px;
	font-weight: 300;
	color: #c22127;
}
#contact h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	color: #555;
}
#contact h5 {
	font-size: 18px;
	color: #515d6f;
	font-weight: 400;
}
#contact .form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #eff2f4;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#contact .btn {
    border-width: 0;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    outline: none !important;
    background-image: none !important;
    background-color: #38abbe;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
    text-shadow: none;
    border-radius: 0;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0 40px 0;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}
#contact .contact-item p {
	margin-top: 10px;
	font-size: 14px;
	font-weight: 300;
}
/* Footer Section*/
#footer {
	background: #c22127;
	padding: 50px 0;
	font-family: 'Roboto', sans-serif;
}
#footer h3 {
	color: #8eb640;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer p.header {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}
#footer .copyrights {
	padding: 20px 0;
	margin-top: 50px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#779936+0,8eb640+50 */
	background: rgb(119,153,54); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779936', endColorstr='#8eb640', GradientType=0 ); /* IE6-9 */
}
#footer .social {
	margin: 20px 0 30px 0;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #fff;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 14px;
	font-weight: 300;
	color: #fff;
}
#footer p:hover {
	/*text-decoration: underline;
	font-weight: 500;*/
}
#footer a {
	color: #f6f6f6;
}
#footer a > p:hover {
	text-decoration: underline;
	font-weight: 500;
	color: #fff;
}
/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}


.swiper-container {
    width: 100%;
    height: 450px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.swiper-slide {
    text-align: center;
    width: 725px !important;
    min-height: 400px;
    max-height: 420px;
    background-color: white;
    box-shadow: 0px 4px 10px -1px #555;
    padding: 40px 50px 10px;
}
.swiper-slide img {
	height: 100px;
	margin-bottom: 50px;
}
.swiper-slide h4 {
	font-size: 24px;
	font-weight: 300;
	color: #515d6f;
	padding: 0 100px;
}
.swiper-slide p {
	font-size: 14px;
	font-weight: 500;
	color: #515d6f;
	padding: 0 100px;
}
/* Register Section */
#register {
	padding: 100px 0 75px 0;
	background-color: #eff2f4;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 100vh;
}
#register .register-wrapper {
	height: 100%;
}
#register h2 {
	color: #000;
	font-size: 36px;
	font-weight: 300;
}
#register h3 {
	color: #fff;
	font-size: 20px;
}
#register .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#register .about-text h2 {
	font-weight: 700;
	font-size: 36px;
}
#register .about-img {
	display: inline-block;
	position: relative;
}
#register .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#register p {
	line-height: 24px;
	margin: 15px 0 30px;
}
#register .video-wrapper {
	width: 100%;
	text-align: center;
	margin: 5vh 0;
}
#register-text {
	margin-top: 25%
}
#register-form {
	width: 405px;
	margin: 10% auto 0 auto;
	padding: 30px 50px;
	background-color: #c22127;
	border: 1px solid transparent;
	border-radius: 10px;
	color: #fff;
}
#register-form .form-group {
	margin-bottom: 25px;
}
#register-form .form-control {
    width: 100%;
    height: 45px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #af1e23;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0; 
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#register-form button {
	width: 100%;
	height: 45px;
	background-color: #38abbe;
	color: #fff;
	font-weight: 900;
	font-size: 14px;
	border: 1px solid transparent;
	border-radius: 1px;
	text-transform: uppercase;
	margin-top: 10px;
}
#register-form .form-control::-webkit-input-placeholder {
color: #fff;
}
#register-form .form-control:-moz-placeholder {
color: #fff;
}
#register-form .form-control::-moz-placeholder {
color: #fff;
}
#register-form .form-control:-ms-input-placeholder {
color: #fff;
}


/* Terms of Services Section*/
#tos {
	min-height: 95vh;
	margin-top: 125px;
	margin-bottom: 50px;
}

#tos h1, #tos h2, #tos h3, #tos h4, #tos h5, #tos h6, #tos p {
	font-family: 'Roboto', sans-serif !important;
	font-weight: normal;
	color: #515d6f;
	margin-bottom: 25px;
}
#tos h1 {
	font-weight: 300;
	font-size: 48px;
}
#tos h2 {
	font-weight: 700;
	font-size: 36px;
}
#tos h2.alt {
	font-weight: 300;
	font-size: 36px;
}
#tos h4 {
	font-weight: normal;
	font-size: 24px;
}
#tos h5 {
	font-weight: 500;
	font-size: 18px;
}
#tos h5.alt {
	font-weight: normal;
	font-size: 18px;
}
#tos p {
	text-align: justify;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}

/* FEATURES */
.features-flow {
	background: url('../img/features/logo-emblem.png') no-repeat;
	/*background-size: 250px; */
	background-size: 325px;
	/*background-position: center;*/
	background-position: center 100px;
	width: 876px;
	margin: auto;
	position: relative;
}
#features-wrapper {
	position: relative;
	width: 100%;
	min-height: 150px;
}
.features-menu {
	/*padding: 5px;*/
	width: 57px;
	height: 504px;
	z-index: 100;
	position: fixed;
	top: 100px;
	background: url('../img/features/sidebar.png') no-repeat;
}
.sidebar-logo {
	width: 50px;
	height: 50px;
	margin-bottom: 6px;
}
/* Tooltip */
.page-scroll + .tooltip > .tooltip-inner {
	background-color: #f7f9fa; 
	color: #515d6f; 
	border: 1px solid #e0e3e6; 
	padding: 5px;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	white-space: nowrap;
	max-width: none;
}
 /* Tooltip on right */
.page-scroll + .tooltip.right > .tooltip-arrow {
 	border-right: 5px solid #e0e3e6;
}
.feature-icon-1 {
	position: absolute;
	left: 330px;
	top: -20px;
	height: 88px;
	width: 100px;
	margin-left: -50px;
	margin-top: 0px;
	transition: all 0.3s;
}
.feature-icon-1:hover {
	width: 150px;
	height: 132px;
	top: -42px;
	left: 305px;
}
.feature-icon-2 {
	position: absolute;
	right: 280px;
	top: -20px;
	height: 88px;
	width: 100px;
	margin-left: -50px;
	margin-top: 0px;
	transition: all 0.3s;
}
.feature-icon-2:hover {
	width: 150px;
	height: 132px;
	top: -42px;
	right: 255px;
}
.feature-icon-3 {
	position: absolute;
	right: 155px;
	top: 30px;
	height: 88px;
	width: 100px;
	margin-right: -50px;
	margin-top: 0px;
	transition: all 0.3s;
}
.feature-icon-3:hover {
	width: 150px;
	height: 132px;
	top: 8px;
	right: 120px;
}
.feature-icon-4 {
	position: absolute;
	right: 55px;
	top: 185px;
	height: 88px;
	width: 100px;
	margin-right: -50px;
	margin-top: -44px;
	transition: all 0.3s;
}
.feature-icon-4:hover {
	width: 150px;
	height: 132px;
	top: 163px;
	right: 30px;
}
.feature-icon-5 {
	position: absolute;
	right: 155px;
	bottom: 65px;
	height: 88px;
	width: 100px;
	margin-right: -50px;
	margin-bottom: 0px;
	transition: all 0.3s;
}
.feature-icon-5:hover {
	width: 150px;
	height: 132px;
	bottom: 40px;
	right: 130px;
}
.feature-icon-6 {
	position: absolute;
	left: 438px;
	bottom: 0;
	height: 88px;
	width: 100px;
	margin-left: -50px;
	margin-bottom: 0px;
	transition: all 0.3s;
}
.feature-icon-6:hover {
	width: 150px;
	height: 132px;
	bottom: -22px;
	left: 413px;
}
.feature-icon-7 {
	position: absolute;
	left: 155px;
	bottom: 65px;
	height: 88px;
	width: 100px;
	margin-left: -50px;
	margin-bottom: 0px;
	transition: all 0.3s;
}
.feature-icon-7:hover {
	width: 150px;
	height: 132px;
	bottom: 40px;
	left: 130px;
}
.feature-icon-8 {
	position: absolute;
	left: 55px;
	top: 185px;
	height: 88px;
	width: 100px;
	margin-left: -50px;
	margin-top: -44px;
	transition: all 0.3s;
}
.feature-icon-8:hover {
	width: 150px;
	height: 132px;
	top: 163px;
	left: 30px;
}
.feature-icon-9 {
	position: absolute;
	left: 155px;
	top: 30px;
	height: 88px;
	width: 132px;
	margin-left: -66px;
	margin-top: 0px;
	transition: all 0.3s;
}
.feature-icon-9:hover {
	width: 198px;
	height: 132px;
	top: 8px;
	left: 120px;
}
.feature-header-1 {
	background-color: #517dbe !important;
	padding: 50px 0 0 0 !important;
}
.feature-header-1:before {
	position: absolute;
	border-top: 50px solid #eff2f4;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	top: 0;
	left: 0;
}
#menu.feature-header-1 a.navbar-brand div.img-logo {
	background: url('../img/homepage/cornerstone-logo.png');
	width: 140px;
	height: 66px;
	background-position: 0px -70px;
	margin-top: 5px;
}
#menu.feature-header-1.navbar-default .navbar-nav > li > a.btn-contact {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-1.navbar-default .navbar-nav > li > a {
	color: #fff;
}
#menu.feature-header-1 a.navbar-brand {
	color: #fff !important;
}
#menu.feature-header-1.navbar-default .navbar-nav > li > button {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-1.navbar-default .navbar-nav > li > a:hover {
	color: #fff !important;
}
.feature-header-1.navbar-default .navbar-nav > .active > a, .feature-header-1.navbar-default .navbar-nav > .active > a:hover, .feature-header-1.navbar-default .navbar-nav > .active > a:focus {
	color: #515d6f !important;
	background-color: transparent;
}
.feature-header-1_5 {
	background-color: #517dbe !important;
	padding: 0px 0 0 0 !important;
}
#menu.feature-header-1_5 a.navbar-brand div.img-logo {
	background: url('../img/homepage/cornerstone-logo.png');
	width: 140px;
	height: 66px;
	background-position: 0px -70px;
	margin-top: 5px;
}
#menu.feature-header-1_5.navbar-default .navbar-nav > li > a.btn-contact {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-1_5.navbar-default .navbar-nav > li > a {
	color: #fff;
}
#menu.feature-header-1_5 a.navbar-brand {
	color: #fff !important;
}
#menu.feature-header-1_5.navbar-default .navbar-nav > li > button {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-1_5.navbar-default .navbar-nav > li > a:hover {
	color: #fff !important;
}
.feature-header-1_5.navbar-default .navbar-nav > .active > a, .feature-header-1_5.navbar-default .navbar-nav > .active > a:hover, .feature-header-1_5.navbar-default .navbar-nav > .active > a:focus {
	color: #515d6f !important;
	background-color: transparent;
}
#menu.feature-header-3 a.navbar-brand div.img-logo {
	background: url('../img/homepage/cornerstone-logo.png');
	width: 140px;
	height: 66px;
	background-position: 0px -70px;
	margin-top: 5px;
}
#menu.feature-header-3.navbar-default .navbar-nav > li > a.btn-contact {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-3.navbar-default .navbar-nav > li > a {
	color: #fff;
}
#menu.feature-header-3 a.navbar-brand {
	color: #fff !important;
}
#menu.feature-header-3.navbar-default .navbar-nav > li > button {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-3.navbar-default .navbar-nav > li > a:hover {
	color: #fff !important;
}
.feature-header-3 {
	background-color: #4f9f2e !important;
	padding: 0 !important;
}
.feature-header-3.navbar-default .navbar-nav > .active > a, .feature-header-3.navbar-default .navbar-nav > .active > a:hover, .feature-header-3.navbar-default .navbar-nav > .active > a:focus {
	color: #515d6f !important;
	background-color: transparent;
}
#menu.feature-header-5 a.navbar-brand div.img-logo {
	background: url('../img/homepage/cornerstone-logo.png');
	width: 140px;
	height: 66px;
	background-position: 0px -70px;
	margin-top: 5px;
}
#menu.feature-header-5.navbar-default .navbar-nav > li > a.btn-contact {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-5.navbar-default .navbar-nav > li > a {
	color: #fff;
}
#menu.feature-header-5 a.navbar-brand {
	color: #fff !important;
}
#menu.feature-header-5.navbar-default .navbar-nav > li > button {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-5.navbar-default .navbar-nav > li > a:hover {
	color: #fff !important;
}
.feature-header-5 {
	background-color: #f58a28 !important;
	padding: 0 !important;
}
.feature-header-5.navbar-default .navbar-nav > .active > a, .feature-header-5.navbar-default .navbar-nav > .active > a:hover, .feature-header-5.navbar-default .navbar-nav > .active > a:focus {
	color: #515d6f !important;
	background-color: transparent;
}
#menu.feature-header-7 a.navbar-brand div.img-logo {
	background: url('../img/homepage/cornerstone-logo.png');
	width: 140px;
	height: 66px;
	background-position: 0px -70px;
	margin-top: 5px;
}
#menu.feature-header-7.navbar-default .navbar-nav > li > a.btn-contact {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-7.navbar-default .navbar-nav > li > a {
	color: #fff;
}
#menu.feature-header-7 a.navbar-brand {
	color: #fff !important;
}
#menu.feature-header-7.navbar-default .navbar-nav > li > button {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-7.navbar-default .navbar-nav > li > a:hover {
	color: #fff !important;
}
.feature-header-7 {
	background-color: #a50d0c !important;
	padding: 0 !important;
}
.feature-header-7.navbar-default .navbar-nav > .active > a, .feature-header-7.navbar-default .navbar-nav > .active > a:hover, .feature-header-7.navbar-default .navbar-nav > .active > a:focus {
	color: #515d6f !important;
	background-color: transparent;
}
#menu.feature-header-9 a.navbar-brand div.img-logo {
	background: url('../img/homepage/cornerstone-logo.png');
	width: 140px;
	height: 66px;
	background-position: 0px -70px;
	margin-top: 5px;
}
#menu.feature-header-9.navbar-default .navbar-nav > li > a.btn-contact {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-9.navbar-default .navbar-nav > li > a {
	color: #fff;
}
#menu.feature-header-9 a.navbar-brand {
	color: #fff !important;
}
#menu.feature-header-9.navbar-default .navbar-nav > li > button {
	color: #fff;
	background-color: #38abbe;
}
#menu.feature-header-9.navbar-default .navbar-nav > li > a:hover {
	color: #fff !important;
}
.feature-header-9 {
	background-color: #d4145a !important;
	padding: 0 !important;
}
.feature-header-9.navbar-default .navbar-nav > .active > a, .feature-header-9.navbar-default .navbar-nav > .active > a:hover, .feature-header-9.navbar-default .navbar-nav > .active > a:focus {
	color: #515d6f !important;
	background-color: transparent;
}
/* feature-1 Section */
#feature-1 {
	padding: 120px 0 75px 0;
	background-color: #517dbe;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#feature-1:before {
	content:"";
	position: relative;
	border-top: 50px solid #eff2f4;
	border-left: 49vw solid transparent;
	border-right: 49vw solid transparent;
	top: -73px;
	left: 5px;
	z-index: 98;
}
#feature-1 h2 {
	color: #fff;
}
#feature-1 h3 {
	color: #fff;
	font-size: 20px;
}
#feature-1 div.img-logo {
	/*margin: 10vh 0 25px 0;*/
	background: url('../img/features/small-icons_dev.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#feature-1 div.text-logo {
	margin-top: 0;
}
#feature-1 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #fff;
}
#feature-1 div.text-logo h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	font-weight: 200;
}
#feature-1 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 12px 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#feature-1 div.text-logo .btn-more:hover {
    border: 2px solid #38abbe;
    background-color: #38abbe;
}
#feature-1 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#feature-1 div.overflow-img img {
	width: 47vw;
	margin-top: 25px;
	/*margin-left: 50px;*/
	float: right;
}
#feature-1 div.overflow-img img.top {
	position: absolute;
	top: 0;
	right: 0;
	height: 95%; 
}
#feature-1 div.overflow-img img.bottom {
	position: absolute;
	bottom: 0;
	right: 5%;
	height: 95%; 
}
#feature-1 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#feature-1 .about-text h2 {
	font-weight: 700;
	font-size: 36px;
}
#feature-1 .about-img {
	display: inline-block;
	position: relative;
}
#feature-1 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#feature-1 p {
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0 10px 115px;
	text-align: left;
}

/* feature-2 Section */
#feature-2 {
	padding: 120px 0 75px 0;
	background-color: #eff2f4;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#feature-2 h2 {
	color: #fff;
}
#feature-2 h3 {
	color: #fff;
	font-size: 20px;
}
#feature-2 div.img-logo {
	/*margin: 10vh 0 25px 0;*/
	background: url('../img/features/small-icons_projects.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#feature-2 div.text-logo {
	margin-top: 0;
}
#feature-2 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #c22127;
}
#feature-2 div.text-logo h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	color: #515d6f;
}
#feature-2 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #515d6f;
    border-radius: 5px;
    padding: 12px 25px;
    color: #515d6f;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#feature-2 div.text-logo .btn-more:hover {
    border: 2px solid #c22127;
    color: #fff;
    background-color: #c22127;
}
#feature-2 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#feature-2 div.overflow-img img {
	width: 47vw;
	margin-top: 25px;
	/*margin-left: 50px;*/
}
#feature-2 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#feature-2 .about-text h2 {
	font-weight: 700;
	font-size: 36px; 
}
#feature-2 .about-img {
	display: inline-block;
	position: relative;
}
#feature-2 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#feature-2 p {
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0 10px 115px;
	text-align: left;
	color: #515d6f;
}

/* feature-3 Section */
#feature-3 {
	padding: 120px 0 75px 0;
	background-color: #4f9f2e;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#feature-3 h2 {
	color: #fff;
}
#feature-3 h3 {
	color: #fff;
	font-size: 20px;
}
#feature-3 div.img-logo {
	/*margin: 10vh 0 25px 0;*/
	background: url('../img/features/small-icons_inventory.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#feature-3 div.text-logo {
	margin-top: 0;
}
#feature-3 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #fff;
}
#feature-3 div.text-logo h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	font-weight: 200;
}
#feature-3 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 12px 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#feature-3 div.text-logo .btn-more:hover {
    border: 2px solid #38abbe;
    background-color: #38abbe;
}
#feature-3 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#feature-3 div.overflow-img img {
	width: 47vw;
	margin-top: 25px;
	/*margin-left: 50px;*/
	float: right;
}
#feature-3 div.overflow-img img.top {
	position: absolute;
	top: 0;
	right: 0;
	height: 95%; 
}
#feature-3 div.overflow-img img.bottom {
	position: absolute;
	bottom: 0;
	right: 5%;
	height: 95%; 
}
#feature-3 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#feature-3 .about-text h2 {
	font-weight: 700;
	font-size: 36px;
}
#feature-3 .about-img {
	display: inline-block;
	position: relative;
}
#feature-3 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#feature-3 p {
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0 10px 115px;
	text-align: left;
}

/* feature-4 Section */
#feature-4 {
	padding: 120px 0 75px 0;
	background-color: #eff2f4;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#feature-4 h2 {
	color: #fff;
}
#feature-4 h3 {
	color: #fff;
	font-size: 20px;
}
#feature-4 div.img-logo {
	/*margin: 10vh 0 25px 0;*/
	background: url('../img/features/small-icons_salesteam.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#feature-4 div.text-logo {
	margin-top: 0;
}
#feature-4 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #c22127;
}
#feature-4 div.text-logo h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	color: #515d6f;
}
#feature-4 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #515d6f;
    border-radius: 5px;
    padding: 12px 25px;
    color: #515d6f;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#feature-4 div.text-logo .btn-more:hover {
    border: 2px solid #c22127;
    color: #fff;
    background-color: #c22127;
}
#feature-4 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#feature-4 div.overflow-img img {
	width: 47vw;
	margin-top: 25px;
	/*margin-left: 50px;*/
}
#feature-4 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#feature-4 .about-text h2 {
	font-weight: 700;
	font-size: 36px; 
}
#feature-4 .about-img {
	display: inline-block;
	position: relative;
}
#feature-4 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#feature-4 p {
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0 10px 115px;
	text-align: left;
	color: #515d6f;
}

/* feature-5 Section */
#feature-5 {
	padding: 120px 0 75px 0;
	background-color: #f58a28;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#feature-5 h2 {
	color: #fff;
}
#feature-5 h3 {
	color: #fff;
	font-size: 20px;
}
#feature-5 div.img-logo {
	/*margin: 10vh 0 25px 0;*/
	background: url('../img/features/small-icons_clients.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#feature-5 div.text-logo {
	margin-top: 0;
}
#feature-5 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #fff;
}
#feature-5 div.text-logo h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	font-weight: 200;
}
#feature-5 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 12px 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#feature-5 div.text-logo .btn-more:hover {
    border: 2px solid #38abbe;
    background-color: #38abbe;
}
#feature-5 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#feature-5 div.overflow-img img {
	width: 47vw;
	margin-top: 25px;
	/*margin-left: 50px;*/
	float: right;
}
#feature-5 div.overflow-img img.top {
	position: absolute;
	top: 0;
	right: 0;
	height: 95%; 
}
#feature-5 div.overflow-img img.bottom {
	position: absolute;
	bottom: 0;
	right: 5%;
	height: 95%; 
}
#feature-5 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#feature-5 .about-text h2 {
	font-weight: 700;
	font-size: 36px;
}
#feature-5 .about-img {
	display: inline-block;
	position: relative;
}
#feature-5 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#feature-5 p {
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0 10px 115px;
	text-align: left;
}

/* feature-6 Section */
#feature-6 {
	padding: 120px 0 75px 0;
	background-color: #eff2f4;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#feature-6 h2 {
	color: #fff;
}
#feature-6 h3 {
	color: #fff;
	font-size: 20px;
}
#feature-6 div.img-logo {
	/*margin: 10vh 0 25px 0;*/
	background: url('../img/features/small-icons_purchasing.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#feature-6 div.text-logo {
	margin-top: 0;
}
#feature-6 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #c22127;
}
#feature-6 div.text-logo h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	color: #515d6f;
}
#feature-6 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #515d6f;
    border-radius: 5px;
    padding: 12px 25px;
    color: #515d6f;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#feature-6 div.text-logo .btn-more:hover {
    border: 2px solid #c22127;
    color: #fff;
    background-color: #c22127;
}
#feature-6 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#feature-6 div.overflow-img img {
	width: 47vw;
	margin-top: 25px;
	/*margin-left: 50px;*/
}
#feature-6 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#feature-6 .about-text h2 {
	font-weight: 700;
	font-size: 36px; 
}
#feature-6 .about-img {
	display: inline-block;
	position: relative;
}
#feature-6 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#feature-6 p {
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0 10px 115px;
	text-align: left;
	color: #515d6f;
}

/* feature-7 Section */
#feature-7 {
	padding: 120px 0 75px 0;
	background-color: #a50d0c;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#feature-7 h2 {
	color: #fff;
}
#feature-7 h3 {
	color: #fff;
	font-size: 20px;
}
#feature-7 div.img-logo {
	/*margin: 10vh 0 25px 0;*/
	background: url('../img/features/small-icons_construction.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#feature-7 div.text-logo {
	margin-top: 0;
}
#feature-7 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #fff;
}
#feature-7 div.text-logo h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	font-weight: 200;
}
#feature-7 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 12px 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#feature-7 div.text-logo .btn-more:hover {
    border: 2px solid #38abbe;
    background-color: #38abbe;
}
#feature-7 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#feature-7 div.overflow-img img {
	width: 47vw;
	margin-top: 25px;
	/*margin-left: 50px;*/
	float: right;
}
#feature-7 div.overflow-img img.top {
	position: absolute;
	top: 0;
	right: 0;
	height: 95%; 
}
#feature-7 div.overflow-img img.bottom {
	position: absolute;
	bottom: 0;
	right: 5%;
	height: 95%; 
}
#feature-7 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#feature-7 .about-text h2 {
	font-weight: 700;
	font-size: 36px;
}
#feature-7 .about-img {
	display: inline-block;
	position: relative;
}
#feature-7 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#feature-7 p {
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0 10px 115px;
	text-align: left;
}

/* feature-8 Section */
#feature-8 {
	padding: 120px 0 75px 0;
	background-color: #eff2f4;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#feature-8 h2 {
	color: #fff;
}
#feature-8 h3 {
	color: #fff;
	font-size: 20px;
}
#feature-8 div.img-logo {
	/*margin: 10vh 0 25px 0;*/
	background: url('../img/features/small-icons_accounting.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#feature-8 div.text-logo {
	margin-top: 0;
}
#feature-8 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #c22127;
}
#feature-8 div.text-logo h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	color: #515d6f;
}
#feature-8 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #515d6f;
    border-radius: 5px;
    padding: 12px 25px;
    color: #515d6f;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#feature-8 div.text-logo .btn-more:hover {
    border: 2px solid #c22127;
    color: #fff;
    background-color: #c22127;
}
#feature-8 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#feature-8 div.overflow-img img {
	width: 47vw;
	margin-top: 25px;
	/*margin-left: 50px;*/
}
#feature-8 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#feature-8 .about-text h2 {
	font-weight: 700;
	font-size: 36px; 
}
#feature-8 .about-img {
	display: inline-block;
	position: relative;
}
#feature-8 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#feature-8 p {
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0 10px 115px;
	text-align: left;
	color: #515d6f;
}

/* feature-9 Section */
#feature-9 {
	padding: 120px 0 75px 0;
	background-color: #d4145a;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 95vh;
}
#feature-9 h2 {
	color: #fff;
}
#feature-9 h3 {
	color: #fff;
	font-size: 20px;
}
#feature-9 div.img-logo {
	/*margin: 10vh 0 25px 0;*/
	background: url('../img/features/small-icons_property-management.png') no-repeat;
	background-position: 50% 10%;
	width: 100%;
	height: 50px;
}
#feature-9 div.text-logo {
	margin-top: 0;
}
#feature-9 div.text-logo h2 {
	font-weight: 300;
	font-size: 36px;
	color: #fff;
}
#feature-9 div.text-logo h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	font-weight: 200;
}
#feature-9 div.text-logo .btn-more {
    height: 40px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 12px 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none !important;
    background-image: none !important;
    background-color: transparent;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
#feature-9 div.text-logo .btn-more:hover {
    border: 2px solid #38abbe;
    background-color: #38abbe;
}
#feature-9 div.overflow-img {
	height: 70vh;
	width: 100%;
	position: absolute;
	top: -75px;
}
#feature-9 div.overflow-img img {
	width: 47vw;
	margin-top: 25px;
	/*margin-left: 50px;*/
	float: right;
}
#feature-9 div.overflow-img img.top {
	position: absolute;
	top: 0;
	right: 0;
	height: 95%; 
}
#feature-9 div.overflow-img img.bottom {
	position: absolute;
	bottom: 0;
	right: 5%;
	height: 95%; 
}
#feature-9 .about-text {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#feature-9 .about-text h2 {
	font-weight: 700;
	font-size: 36px;
}
#feature-9 .about-img {
	display: inline-block;
	position: relative;
}
#feature-9 .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#feature-9 p {
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0 10px 115px;
	text-align: left;
}

/* Packages */
#package-wrapper {
	margin-bottom: 50px;
}
.package-header {
	height: 60px;
	background-color: #00adef;
	color: white !important;
	font-size: 30px;
	padding: 5px 0;
	margin-top: 10px;
}
.package-header.advanced {
	background-color: #0072bb;
}
.package-header span {
	transform: translateY(35%);
	font-size: 25px;
	font-weight: 100;
	padding: 0 15px;
	margin-left: 15px;
	border-left: 1px solid #fff;
	height: 50px;
}
.package-header p {
	margin: 0;
	padding: 0 30px 0 ;
	transform: translateY(35%);
	font-size: 30px;
	font-weight: 500;
	
}
.content-header {
	background-color: #404042;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px;
}
.package-content {
	height: 85px;
	width: 100%;
	font-size: 12px;
	box-shadow: 0px 2px 10px -4px #cccccc;
	padding: 10px 30px;
	position: relative;
	transition: all 0.8s;
}
.package-content p {
	font-size: 16px;
	color: #515d6f;
	margin: 0 100px;
	top: 50%;
	transform: translateY(50%)
}
.package-content:hover {
	/*background-color: #b3e7ff;*/
	box-shadow: inset 0 0 10px #cccccc;
}

/* CORNERSTONE V2 */
#video_modal .x-featured, #map_modal .x-featured {
	position:absolute;
	right:-20px;
	top:-20px;
	z-index:999;
}

.client-testimonials {
	background: url('../img/bg-testimonials.png') no-repeat !important;
	background-position: center !important;
    min-height: 580px !important;
}

.client-testimonials img {
    transform: rotate(-65deg);
    height: 200px;
    width: 200px;
    margin-bottom: 60px;
}

/* PRODUCT DEMO */
#product-demo {
	margin-top: 90px;
    padding: 10px 50px;
    background-color: #f4f4f4;
}

#product-demo .title {
	font-size: 15px;
}

#product-demo .title span {
	font-weight: bold;
	margin-left: 15px;
}

#product-demo-body {
	min-height: 550px !important;
}

#product-demo .fa {
	cursor: pointer;
}

.product-featured {
	min-height: 580px;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.product-featured h1 {
	color:#c22127;
}

.product-featured p {
	color:#000;
}

.product-featured button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0 !important;
    color: #fff;
    background-color: #c22127;
}

.product-featured button:hover, .product-featured button:focus {
	color:#fff;
}