<style type="text/css">
	#contact.about-content img { width:100%; }
	#contact.about-content h2 { font-size:18px; color:#000; font-weight:400; }
	#imgTeamMember { 
		height: 200px;
	    width: 200px;
	    background-color: #d3d3d3;
	    border-radius: 10px;
	    margin-left: 45px;
	    margin-top: 45px;
	    margin-bottom: 75px;
	    transform: rotate(-65deg);
	}
	#imgSample { 
		background-color: #d3d3d3; 
		border-radius: 10px; 
		height: 300px; 
		margin-bottom:10px; 
	}
	.mission-vision p { font-style:italic; }
	.header-text { padding-top:120px !important; padding-bottom: 0px !important; }
</style>

<!-- Header -->
<header id="header">
	<div class="container">
		<div class="row">
			<div class="header-text">
				<div class="col-md-offset-3 col-md-6">
					<div class="text-header text-center">
						<h1 style="font-size:30px; font-weight:400;">About Cornerstone</h1>
					</div>
					<p>A Real Estate Management System that lets you do everything in one place.</p>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Content Section -->
<div id="contact" class="about-content" style="padding:30px 0 40px 0;">
	<div class="container">
		<?php echo $page->body; ?>
	</div>
</div>

<!-- MISSION and VISION -->
<div id="contact" style="background: #f9f5f5;">
	<div class="container mission-vision">
		<div class="row">
			<?php
				$this->load->model('page/page_m');
				$pageMS = $this->page_m->get_by_uri('mission-and-vision');
				echo $pageMS->body;
			?>
		</div>
	</div>
</div>

<!-- Team Section -->
<div id="contact">
	<div class="container" style="margin-bottom:60px;">
		<div class="text-center">
			<h2>Meet the Team</h2>
		</div>

		<!-- Teams Content / Widget Here -->
		{{ teams:display }}
	</div>
</div>