<style type="text/css">
	#tos2 h2 { font-size: 36px; font-weight: 300; color: #c22127; }
	#tos2 { min-height: 95vh; margin-top: 100px; margin-bottom: 50px; }
	#tos2 .container { padding:0px !important; }
	#tos2 img { max-width:100% !important; }

	.blog-posts { margin:30px 0px 20px; }
	.blog-posts hr { width:100%; background:#c22127; height:1.5px; }
	a.btn-contact:hover { color:#fff; }

	.sidebar { background-color:#f3f3f3; }
	.sidebar h4 { font-size:12pt; font-weight:600; }
	.sidebar .border-top-bottom { border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; }
	.sidebar .row:not(.border-top-bottom) { margin-top:10px; margin-bottom:20px; }
</style>

<div id="tos2" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-9" style="padding:35px 90px;">				
				<p class="breadcrumbs hide">
					{{url:anchor segment={url:site} title="Home" }}
					<span class="arrow"> &rsaquo; </span>
					{{ template:breadcrumbs }}
						{{ if uri }}
							{{ url:anchor segments=uri title=name }}
							<span class="arrow"> &rsaquo; </span>
						{{ else }}
							<span class="current">{{ name }}</span>
						{{ endif }}
					{{ /template:breadcrumbs }}
				</p>

				{{ template:body }}
			</div>
			<div class="col-md-3 text-center sidebar">
				<!-- CASE STUDIES -->
				<div class="row border-top-bottom hide">
					<div class="col-md-12">
						<h4>CASE STUDIES</h4>
					</div>
				</div>
				<div class="row hide">
					<div class="col-md-12">
						<img src="{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/placeholder.png" style="width:100%">
						<p>6 Amazing Tips on Turning <br/> Real Estate Into a Real Fortune</p>
						<small>Your real estate business struggles end with Cornerstone!</small>
					</div>
				</div>
				<!-- CORNERSTONE DEMO -->
				<div class="row border-top-bottom">
					<div class="col-md-12">
						<h4>CORNERSTONE DEMO</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img src="{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/placeholder.png" style="width:100%">
						<p>Self-Guided Cornerstone Product Tour</p>
						<small>Your real estate business struggles end <br>with Cornerstone!</small>
						<br/><a href="{{ url:site }}product-demo" class="btn btn-contact">Get Started Now</a>
					</div>
				</div>
				<!-- POPULAR POSTS -->
				<div class="row  border-top-bottom">
					<div class="col-md-12">
						<h4>LATEST POSTS</h4>
					</div>
				</div>

				<!-- Blog Content / Widget Here -->
				{{ blog:display limit="4" latest="1" }}
			</div>
		</div>	
	</div>
</div>

<script type="text/javascript">
	$('.blog-posts').find('img').on('load', function(){
		console.log('loaded: '+$(this).attr('src'));
	});
</script>