<div id="contact" style="margin-top:90px">
	<div class="container">
		<div class="section-title text-center">
			<h2>Thanks! We've received your request!</h2>
			<h5>Our solutions specialists will get in touch with you in less than 24 hours.</h5>

			<hr style="width:100%; background:#e7e7e7; margin: 25px !important;"/>

			<!-- Blog Content / Widget Here -->
			<p>Meanwhile, you can check out for resources page for valuable real estate insights and tips.</p>
			{{ blog:display limit="4" }}
		</div>
	</div>
</div>