<style type="text/css">
	#contact { 
		margin-top:90px;
		background:url('{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/contact-us-bg.png') no-repeat;
		background-position: center; 
	    min-height: 550px;
	}
	#contact.contact-us {
		margin-top:90px;
	    min-height: 600px;
	}
	#contact_form { background-color:#c22127; border-radius:10px; padding:40px 30px; }
	#contact_form .form-group input, #contact_form .form-group button { border-radius:3px; }
	#contact_form .form-group button {     
		background-color: #2b9dda;
	    color: #fff;
	    text-transform: none;
	    font-weight: 400; 
	    border: none;
	}
	#cs_modules img { max-width: 130px; margin-right: 15px; }
	#contact_content { padding-top:40px }
	label.error { color:#fff; }
</style>

<div id="contact" class="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-md-8" id="contact_content">
				<h2>
					Experience the Efficiency of
					<br/> Cloud-based Project Management
				</h2>

				<div id="cs_modules">
					{{ theme:image file="cs-modules/developers.png" }}
					{{ theme:image file="cs-modules/purchasing.png" }}
					{{ theme:image file="cs-modules/construction.png" }}
					{{ theme:image file="cs-modules/accounting.png" }}
				</div>

				<br/>
				<p>
					Contact Us
					<br/><span class="text-danger">{{ variables:email_address }}</span>
					<br/>{{ variables:contact_number }}
				</p>
			</div>

			<div class="col-md-4" id="contact_form">
				<form class="form text-justify">
					<div class="form-group">
					    <input type="text" name="full_name" class="form-control" placeholder="Full Name *" />
				  	</div>
				  	<div class="form-group">
					    <input type="text" name="company" class="form-control" placeholder="Company *" />
				  	</div>
					<div class="form-group">
					    <input type="email" name="email" class="form-control" placeholder="Email *" />
				  	</div>
				  	<div class="form-group">
					    <input type="text" name="contact_number" class="form-control" placeholder="Contact Number *" />
				  	</div>
				  	<div class="form-group" align="center"> <!-- captcha_container -->
				  		<div class="g-recaptcha" data-sitekey="6LcDzBcTAAAAAO4nDE4NKXFT4-FeNq0JMibyktnJ"></div>
				  	</div>
				  	<div class="form-group">
				  		<button type="submit" class="btn form-control">Submit</button>
				  	</div>
				</form>	
			</div>
		</div>
	</div>
</div>

{{ theme:js file="validation/contact.js" }}
{{ theme:js file="jquery_validation/jquery.validate.min.js" }}
{{ theme:js file="jquery_validation/additional-methods.min.js" }}
