<style type="text/css">
	#contact { padding:0px !important; }
	#contact.about-content { min-height:400px !important; }
	#contact.about-content img { width:100%; }
	#contact.about-content h2 { font-size:18px; color:#000; font-weight:400; margin-bottom: 5px !important; }
	#contact.about-content h3 { text-transform:none !important; }
	.header-text { padding-top:120px !important; padding-bottom: 0px !important; }
</style>

<!-- Header -->
<header id="header">
	<div class="container">
		<div class="row">
			<div class="header-text">
				<div class="col-md-offset-3 col-md-6">
					<div class="text-header text-center">
						<h1 style="font-size:30px; font-weight:400;"><?php echo $page->title; ?></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Content Section -->
<div id="contact" class="about-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="margin-bottom:100px;">
				<?php echo $page->body; ?>
			</div>
		</div>
	</div>
</div>
