<style type="text/css">
	.x-featured { 
		position: absolute;
	    top: -20px;
	    right: -20px;
	    z-index: 9999;
	    cursor: pointer;
	}
	#featuredModal .modal-dialog { min-width: 1200px; }
	#featuredModal .module-row { min-height:500px; padding:20px; }
	#featuredModal .module-row h2 { 
	    font-size: 25px;
    	font-weight: 400;
	    color: #c22127;
	}
	#featuredModal .module-row p { font-size: 14px; }
	#features { height:640px; margin-top:50px; background-color:#eff2f4; } 
</style>

<!-- Header -->
<header id="features">
	<div class="overlay">
		<div class="container" style="background-color:#eff2f4">
			<div class="row">
				<div class="intro-text">
					<div class="col-md-12" style="margin-top:30px;">
						<div class="features-flow">
							{{ theme:image file="features/arrow-circle.png" }}
							<a href="javascript:void(0)" class="page-scroll" data-module="developers">
								{{ theme:image file="features/xl/xl-developers.png" class="feature-icon-1" }}
							</a>
							<a href="javascript:void(0)" class="page-scroll" data-module="projects">
								{{ theme:image file="features/xl/xl-projects.png" class="feature-icon-2" }}
							</a>
							<a href="javascript:void(0)" class="page-scroll" data-module="inventory">
								{{ theme:image file="features/xl/xl-inventory.png" class="feature-icon-3" }}
							</a>
							<a href="javascript:void(0)" class="page-scroll" data-module="sales-team">
								{{ theme:image file="features/xl/xl-sales-team.png" class="feature-icon-4" }}
							</a>
							<a href="javascript:void(0)" class="page-scroll" data-module="clients">
								{{ theme:image file="features/xl/xl-clients.png" class="feature-icon-5" }}
							</a>
							<a href="javascript:void(0)" class="page-scroll" data-module="purchasing">
								{{ theme:image file="features/xl/xl-purchasing.png" class="feature-icon-6" }}
							</a>
							<a href="javascript:void(0)" class="page-scroll" data-module="construction">
								{{ theme:image file="features/xl/xl-construction.png" class="feature-icon-7" }}
							</a>
							<a href="javascript:void(0)" class="page-scroll" data-module="accounting">
								{{ theme:image file="features/xl/xl-accounting.png" class="feature-icon-8" }}
							</a>
							<a href="javascript:void(0)" class="page-scroll" data-module="property-management">
								{{ theme:image file="features/xl/xl-property-management.png" class="feature-icon-9" }}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Modal -->
<div id="featuredModal" class="modal fade" role="dialog">
  	<div class="modal-dialog">
  		<div class="pull-right">
       	 	<span class="x-featured" aria-hidden="true" data-dismiss="modal" aria-label="Close">
       	 		{{ theme:image file="close.png" }}
       	 	</span>
      	</div>
    	<!-- Modal content-->
	    <div class="modal-content">
	      	<div class="modal-body">
	       	 	<p>Some text in the modal.</p>
	      	</div>
	    </div>
  	</div>
</div>

<script type="text/javascript">
	$(document).find('.page-scroll').on('click', function(){
		var module = $(this).data('module');

		$.ajax( {
			url: base_url + 'business_solutions/get_feature_content',
			type: 'POST',
			data: { module : module },
			dataType: "json",
			success: function ( response ) {
				$('#featuredModal').find('.modal-body').html(response.view);
				$('#featuredModal').modal('show');
			}
		});
	});
</script>