<style type="text/css">
	#header .btn-contact { background-color: #c22127; }
	#header .overlay { background-color: #efefef; }

	@media (min-width: 1200px) {
		.home-page .container { width: 1450px !important; }
	}

	.home-page { 
		background:url('{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/banner/bg.png') repeat-x;
	    background-position: center 264px;
	}

	.intro .btn { font-size:11px; }
</style>

<header id="header" style="max-height:540px;">
	<div class="intro home-page">
		<div class="container">
			<div class="row">
				<div class="intro-text">
					<div class="col-md-6">
						<div class="text-logo" style="margin-top:130px;">
							<h1>Control. Modernize. Grow.</h1>
							<h5>Take control of your real estate business.</h5>
							<a href="{{ url:site }}features" class="btn btn-lg btn-contact">See How it Works</a>
							<a href="javascript:void(0)" data-toggle="modal" data-target="#video_modal" class="btn btn-lg btn-contact">Watch Product Overview</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="bg-logo"></div>
						<div class="laptop-logo"></div>
						<div class="app-logo"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="scroll-down continuos bounce hide">
	<a href="#about" class="page-scroll" onclick="event.preventDefault(); //scroll_down();">
		{{ theme:image file="homepage/arrow-down.png" alt="homepage/scroll-down.png" height="50" }}
	</a>
</div>

<div id="contact" class="text-center" style="padding:0px !important; min-height:190px;">
	<div class="container">
		<div class="section-title text-center">.
			<div class="row">
				<h2 style="color:#757474; margin-bottom:0px; font-size:18px">Deployed and Managed Over</h2>
				<div class="col-md-3 wow fadeInLeft">
					<h1>Php 35B+</h1>
					<b style="color:#38abbe; margin-left:-9px;">Worth of Properties</b>
				</div>
				<div class="col-md-3 wow fadeInLeft">
					<h1>39,000+</h1>
					<b style="color:#38abbe; margin-left:-9px;">Units Sold by Clients</b>
				</div>
				<div class="col-md-3 wow fadeInRight">
					<h1>15,600+</h1>
					<b style="color:#38abbe; margin-left:-9px;">Trusted Sellers</b>
				</div>
				<div class="col-md-3 wow fadeInRight">
					<h1>23,000+</h1>
					<b style="color:#38abbe; margin-left:-9px;">Quality Buyers</b>
				</div>
			</div>
		</div>
	</div>
</div>

<?php
	$business_solutions = $this->db->get_where('default_business_solutions',array('status'=>'live'))->result_array();
	$bs_total = count($business_solutions);

	if (!empty($business_solutions)) { ?>
		<!-- Business Solutions Section -->
		<div id="contact" class="text-center" style="padding:12px 0;">
			<div class="container">
				<div class="section-title text-center">
					<h2>Find Your Real Estate Business Solutions</h2>
					<div class="row" style="margin-top:70px">
						<?php foreach ($business_solutions as $key => $solutions) { ?>
							<div class="<?php echo ($key+1) == $bs_total? 'col-md-offset-4' : ''; ?> col-md-4 wow fadeInUp" style="height:300px">
								<div style="height:80px">
									<img src="{{ url:site }}files/large/<?php echo $solutions['logo'] ?>">
								</div>

								<h3><?php echo $solutions['title']; ?></h3>
								<p><?php echo $solutions['body']; ?></p>
								<a href="#" class="font-red hide"><b><i class="fa fa-arrow-right"></i> View Full Solutions</b></a>
							</div>
						<?php } ?>
					</div>
				</div>
			</div>
		</div>
<?php } ?>

<!-- Client Testimonials Section -->
<div id="contact" class="text-center client-testimonials hide">
	<div class="container">
		<div class="section-title text-center">
			<h2>Client Testimonials</h2>
			
			<div class="row">
				<div class="col-md-5 wow fadeInLeft">
					<img src="{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/placeholder.png"/>
					<p>
						"Cornerstone makes staying on top of my portfolio so easy. I just upload a new lease and they take care of everything else."
						<br/><br/>
						Emily Agin
						<br/><small>VP of Global Real Estate Facilities</small>
						<br/><small><b>ZENEFITS</b></small>
					</p>
				</div>
				<div class="col-md-offset-2 col-md-5 wow fadeInRight">
					<img src="{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/placeholder.png"/>
					<p>
						"Cornerstone allows us to manage all our lease data without missing any critical dates."
						<br/><br/>
						
						Russel Kamp
						<br/><small>Facilities Planner</small>
						<br/><small><b>AFFIRM</b></small>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- CS Blog Section -->
<div id="contact" class="text-center">
	<div class="container">
		<div class="section-title text-center">
			<h2>Keep Learning. Be Updated</h2>
			<p>We provide valuable resources on a regular basis to help you succeed in your real eastate business.</p>
			
			<!-- Blog Content / Widget Here -->
			{{ blog:display limit="4" }}
		</div>
	</div>
</div>

<!-- Companies Section -->
<div id="contact" class="text-center">
	<div class="container">
		<div class="section-title text-center">
			<h2>Leading Real Estate Companies Choose Cornerstone</h2>
			<div class="row" style="margin-top:70px">
				<?php
					$companies = $this->db->get_where('default_companies',array('status'=>'live'))->result_array();
					if (!empty($companies)) {
						foreach ($companies as $key => $company) { ?>
							<div class="col-md-4 wow fadeInUp" style="height:220px; display:flex; align-items:center;">
								<img src="<?php echo base_url() ?>files/large/<?php echo $company['logo'] ?>" style="max-width:300px">
							</div>
				<?php	}
					}
				?>
			</div>
		</div>
	</div>
</div>

<!-- Real Estate Management Software Section -->
<div id="contact" class="text-center">
	<div class="container">
		<div class="section-title text-center wow fadeInUp hide">
			<h2>Why Use a Real Estate Management Software</h2>
			<p>
				For real estate developers that has developed and constructed various real estate projects whether it’s a horizontal or vertical project, there is a common problem that all of them are facing that is really calling out for a solution which is real estate property management. Companies may not have figured out sooner the essential of having a streamlined system that would enable them to be more effective and efficient with the whole process involved in their business but with the drastic changes happening in the market they’ve been able to understand the benefits that they could get out of it in order to be more productive and make a difference in the approach that they are using to cope up in the real estate industry.
			</p>
			<br/>

			<div class="row text-justify">
				<div class="col-md-2">
					<img src="{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/placeholder.png" width="100%">
				</div>
				<div class="col-md-4">
					<h5>Competitive Advantage</h5>
					<p>
						As technology continues to innovate, being able to cope up with it is a must for the company if you want to outstand your competition in the market. With the constant changes in technology introduced in a fast pace, clients have a tendency to lean on to a company that offers a more sophisticated technology that would resolve whatever problems they are encountering today. So if you can meet the needs of the company through your advance technology, then that would probably give you the edge over your competition.
					</p>
				</div>

				<div class="col-md-2">
					<img src="{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/placeholder.png" width="100%">
				</div>
				<div class="col-md-4">
					<h5>Cost Savings</h5>
					<p>
						Some companies mistakenly thinks that engaging to a new system might be an additional cost for the company well in fact, in it really saves you money. By integrating each department into the software, you actually make the work implicit for everyone that saves time, effort and minimizes errors that makes the team productive and competent. 
					</p>
				</div>
			</div>

			<div class="row text-justify">
				<div class="col-md-2">
					<img src="{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/placeholder.png" width="100%">
				</div>
				<div class="col-md-4">
					<h5>Organization</h5>
					<p>
						Every industry is associated with stress and is also frantic. With all the works that is needed to be monitored, data to be filtered, calls to be answered, emailed to be replied to, books that are needed to be updated, materials to be purchased and properties to be manage, this all could get out of hand if the company struggles in incorporating those things to be unified. For the company to rationalize things in the company, they have stay as well-coordinated as possible.
					</p>
				</div>

				<div class="col-md-2">
					<img src="{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/placeholder.png" width="100%">
				</div>
				<div class="col-md-4">
					<h5>Increase efficiency</h5>
					<p>
						When a company fully adapts to the technology, it is a big relief for everyone involve because it’ll help them to properly maximize their respective time. They could now allot time for things that could be helpful in the production and not be stagnant onto what could be done by the use of the software. No more manual efforts and decrease wasting valuable time. With the correct software, everyone could step up and contribute to the company’s goals.
					</p>
				</div>
			</div>
		</div>

		<div class="section-title text-center wow fadeInUp">
			<?php
				$this->load->model('page/page_m');
				$pageWhyREMS = $this->page_m->get_by_uri('why-use-a-real-estate-management-software');
				echo $pageWhyREMS->body;
			?>
		</div>
	</div>
</div>