<style type="text/css">
	#login_form { background-color:#c22127; border-radius:10px; padding:50px; }
	#login_form .form-group input, #login_form .form-group button { border-radius:3px; }
	#login_form .form-group button {     
		background-color: #2b9dda;
	    color: #fff;
	    text-transform: none;
	    font-weight: 400; 
	    border: none;
	}
	#login_form .form-group a { color:#fff; margin-top:20px; }
	#contact { 
		margin-top:90px;
		background:url('{{ url:site }}addons/default/themes/cornerstone_pyro_2/img/login-bg.png') no-repeat;
		background-position: center; 
	    min-height: 550px;
	}
	label.error { color:#fff; }
</style>

<div id="contact">
	<div class="container">
		<div class="section-title text-center">
			<h2>Experience the Efficiency of <br/> Cloud-based Project Management</h2>

			<div class="row">
				<div class="col-md-offset-4 col-md-4" id="login_form">
					<form class="form">
						<div class="form-group">
						    <input type="text" name="email" class="form-control" placeholder="Email" />
					  	</div>
					  	<div class="form-group">
						    <input type="password" name="password" class="form-control" placeholder="Password" />
					  	</div>
					  	<div class="form-group">
					  		<button type="submit" class="btn btn-contact form-control">Login</button>
					  	</div>
					  	<div class="form-group">
					  		<a href="#">Forgot Password</a>
					  	</div>
					</form>
				</div> 
			</div>
		</div>
	</div>
</div>

{{ theme:js file="validation/login.js" }}
{{ theme:js file="jquery_validation/jquery.validate.min.js" }}
{{ theme:js file="jquery_validation/additional-methods.min.js" }}