<style type="text/css">
	#contact.about-content { min-height:400px !important; padding:0px !important; margin-bottom:30px; }

	#contact.about-content table tr td { background-color:#ededee; padding:20px; border-radius:5px; border:none; }
	#contact.about-content img { width:100%; }
	#contact.about-content h2 { font-size:18px; color:#000; font-weight:400; margin-bottom: 5px !important; }
	#contact.about-content h3 { text-transform:none !important; }

	.header-text { padding-top:120px !important; padding-bottom: 0px !important; }

	.process-flow { background-color:#ededee !important; }
	.process-flow .row { background-color:#fff; margin-bottom:20px; padding:20px; border-radius:5px; }
	.process-flow p { font-weight:600; font-size:14px; }
	.process-flow ul li:before { content: "• "; color: red;  font-size: 20px; }

	#package-content { background-color:#ededee; padding:20px; border-radius:5px; margin-bottom:20px; }
</style>

<!-- Header -->
<header id="header">
	<div class="container">
		<div class="row">
			<div class="header-text">
				<div class="col-md-offset-3 col-md-6">
					<div class="text-header text-center">
						<h1 style="font-size:30px; font-weight:400;">Cornerstone Packages</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Content Section -->
<div id="contact" class="about-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{ theme:image file="modules/packages/package-pricing.png" style="width:100%; margin-bottom:20px" class="animated fadeIn" }}
				<br/>

				<div class="row">
					<div class="col-md-6 animated fadeInLeft">
						<div id="package-content">
							<h2>Monthly Upgrade</h2>
							<p>Regular optimization of the process to further advance the system</p>
						</div>
					</div>	
					<div class="col-md-6 animated fadeInRight">
						<div id="package-content">
							<h2>Monthly Report + Marketing</h2>
							<p>Reachable service team for continued engagement</p>
						</div>
					</div>				
				</div>

				<div class="row">
					<div class="col-md-6 animated fadeInLeft">
						<div id="package-content">
							<h2>Technical Maintenance</h2>
							<p>Ensuring that technical aspects of the system is monitored closely</p>
						</div>
					</div>	
					<div class="col-md-6 animated fadeInRight">
						<div id="package-content">
							<h2>Implementation</h2>
							<p>Setting up the ERP with client's existing operations and policies</p>
						</div>
					</div>				
				</div>

				<div class="row">
					<div class="col-md-6 animated fadeInLeft">
						<div id="package-content">
							<h2>Hosting</h2>
							<p>Worry-free data hosting for all important logs across all business units</p>
						</div>
					</div>				
				</div>

				<br/>
				<p>* All add-on fess are waived upon subscribing for a minimum of two (2) years</p>
			</div>
		</div>
	</div>
</div>

<!-- Process Flow -->
<div id="contact" class="process-flow">
	<div class="container">
		<h2 class="text-center">Process Flow</h2>

		<div class="row wow fadeInUp">
			<div class="col-md-3">
				{{ theme:image file="modules/packages/process1.png" style="width:100%; margin-bottom:20px" }}
			</div>
			<div class="col-md-3">
				<p>Admin: Project Set-up</p>
				<ul>
					<li>Marketing materials</li>
					<li>Pricing: Base lot, Interior price and property options</li>
					<li>Property Inventory</li>
				</ul>
			</div>
			<div class="col-md-3">
				<p>Seller Portal: Input Client</p>
				<ul>
					<li>Show assigned projects and marketing files</li>
					<li>Show inventory using virtual map</li>
					<li>Create prospect</li>
					<li>Track progress of leads and conversion</li>
				</ul>
			</div>
			<div class="col-md-3">
				<p>Admin: Reservation</p>
				<ul>
					<li>Convert Prospect to Client</li>
					<li>Reserve Property: Reservation Form</li>
				</ul>
			</div>
		</div>

		<div class="row wow fadeInUp">
			<div class="col-md-3">
				{{ theme:image file="modules/packages/process2.png" style="width:100%; margin-bottom:20px" }}
			</div>
			<div class="col-md-3">
				<p>Accounting: Account Receivable Entry</p>
				<ul>
					<li>Update AR entry</li>
					<li>Post/Approve entry</li>
				</ul>
			</div>
			<div class="col-md-3">
				<p>Client Portal: View Property Information</p>
				<ul>
					<li>View property construction progress</li>
					<li>View payment transaction</li>
					<li>View required and submitted documents</li>
				</ul>
			</div>
			<div class="col-md-3">
				<p>Admin: DP Payments and Documentation</p>
				<ul>
					<li>Pay downpayment</li>
					<li>Upgrade DP documents</li>
				</ul>
			</div>
		</div>

		<div class="row wow fadeInUp">
			<div class="col-md-3">
				{{ theme:image file="modules/packages/process3.png" style="width:100%; margin-bottom:20px" }}
			</div>
			<div class="col-md-3">
				<p>Construction Module: Launch Construction</p>
				<ul>
					<li>Launch construction</li>
					<li>Monitor construction progress</li>
				</ul>
			</div>
			<div class="col-md-3">
				<p>Purchasing: Order materials</p>
				<ul>
					<li>Request materials</li>
					<li>Check inventory</li>
					<li>Order and purchase materials</li>
				</ul>
			</div>
			<div class="col-md-3">
				<p>Accounting: Accounts Payable Entry</p>
				<ul>
					<li>Upgrade AP entry</li>
					<li>Post entry</li>
				</ul>

				<br/>
				<p>Reports</p>
				<ul>
					<li>General Reports</li>
					<li>Accounting reports</li>
				</ul>
			</div>
		</div>
	</div>
</div>