<style type="text/css">
	#contact.about-content { min-height:400px !important; padding:0px !important; margin-bottom:30px; }

	#contact.about-content table tr td { background-color:#ededee; padding:20px; border-radius:5px; border:none; }
	#contact.about-content img { width:100%; }
	#contact.about-content h2 { font-size:18px; color:#000; font-weight:400; margin-bottom: 5px !important; }
	#contact.about-content h3 { text-transform:none !important; }

	.header-text { padding-top:120px !important; padding-bottom: 0px !important; }

	.process-flow { background-color:#ededee !important; }
	.process-flow .row { background-color:#fff; margin-bottom:20px; padding:20px; border-radius:5px; }
	.process-flow p { font-weight:600; font-size:14px; }
	.process-flow ul li:before { content: "• "; color: red;  font-size: 20px; }

	#package-content { background-color:#ededee; padding:20px; border-radius:5px; margin-bottom:20px; }
</style>

<!-- Header -->
<header id="header">
	<div class="container">
		<div class="row">
			<div class="header-text">
				<div class="col-md-offset-3 col-md-6">
					<div class="text-header text-center">
						<h1 style="font-size:30px; font-weight:400;">Cornerstone Packages</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Content Section -->
<div id="contact" class="about-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<?php echo $page->body; ?>
			</div>
		</div>
	</div>
</div>

<!-- Process Flow -->
<div id="contact" class="process-flow">
	<div class="container">
		<?php
			$this->load->model('page/page_m');
			$pageMS = $this->page_m->get_by_uri('process-flow');
			echo $pageMS->body;
		?>
	</div>
</div>