<?php 
	$module = @$_GET['module']; 

	if (!empty($module)) {
		// asda
	}
?>

<div class="container-fluid" id="product-demo">
	<div class="row">
		<h3 class="title">
			<i class="fa fa-bars fa-lg" style="color:#c22127;font-size:2.5em;margin-top:-6px;"></i> 
			<?php if (empty($module)): ?>
				<span>{{ features_demo:display_info is_default="1" value="title" }}</span>
				<a href="{{ url:site }}product-demo?module=developers">
					<i class="fa fa-arrow-circle-o-right pull-right" style="color:#c22127;font-size:2.5em;margin-top:-6px;"></i>
				</a>
			<?php else: ?>
				<span>{{ features_demo:display_info is_default="0" slug="<?php echo $module; ?>" value="title" }}</span>
				<a href="{{ url:site }}product-demo">
					<i class="fa fa-arrow-circle-o-left pull-right" style="color:#c22127;font-size:2.5em;margin-top:-6px;"></i>	
				</a>
			<?php endif; ?>
		</h3>
	</div>
</div>

<div id="product-demo-body">
	<?php if (empty($module)): ?>
		{{ features_demo:display is_default="1" }}
	<?php else: ?>
		{{ features_demo:display is_default="0" slug="<?php echo $module; ?>" }}
	<?php endif; ?>
</div>