<style type="text/css">
	#tour_form .col-md-6, .form .col-md-12 { padding:10px; }
	#tour_form input { border-radius:5px !important; }
 	#tour_form textarea { border-radius:5px !important; padding-top:10px !important; }
	#tour_form .btn-contact {
	    font-family: 'Roboto', sans-serif;
	    text-transform: none;
	    font-weight: 600;
	    font-size: 14px;
	    border: 2px solid transparent;
	    letter-spacing: 2px;
	    margin: 0 !important;
	    color: #fff;
	    background-color: #c22127;
	    padding: 10px 16px;
	}
</style>

<div id="contact" style="margin-top:90px">
	<div class="container">
		<div class="section-title text-center">
			<h2>Thanks! We've received your request!</h2>
			<h5>Our solutions specialists will get in touch with you in less than 24 hours.</h5>

			<hr style="width:100%;  background:#e7e7e7;"/>

			<p>You can also subscribe to our newsletter and get free real eastate marketing & management tips, delivers to your inbox every week.</p>

			<form class="form text-justify" id="tour_form">
				<div class="row">
					<div class="col-md-7" align="center">
						{{ theme:image file="thank-you-cp.png" style="padding-top: 25px;" }}
					</div>
					<div class="col-md-4" style="padding:75px 0px">
						<div class="form-group">
						    <input type="text" name="full_name" class="form-control" placeholder="Full Name *" />
					  	</div>
					  	<div class="form-group">
						    <input type="text" name="company" class="form-control" placeholder="Company *" />
					  	</div>
						<div class="form-group">
						    <input type="email" name="email" class="form-control" placeholder="Email *" />
					  	</div>
					  	<div class="form-group">
						    <input type="text" name="contact_number" class="form-control" placeholder="Contact Number *" />
					  	</div>
					  	<div class="form-group" align="center"> <!-- captcha_container -->
					  		<div class="g-recaptcha" data-sitekey="6LcDzBcTAAAAAO4nDE4NKXFT4-FeNq0JMibyktnJ"></div>
					  	</div>
					  	<button type="submit" class="btn btn-contact form-control">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>