<style type="text/css">
	#tour_form .col-md-6, .form .col-md-12 { padding:10px; }
	#tour_form input { border-radius:5px !important; }
 	#tour_form textarea { border-radius:5px !important; padding-top:10px !important; }
	#tour_form .btn-contact {
	    font-family: 'Roboto', sans-serif;
	    text-transform: none;
	    font-weight: 900;
	    font-size: 14px;
	    border: 2px solid transparent;
	    letter-spacing: 2px;
	    margin: 0 !important;
	    color: #fff;
	    margin: 5px 15px !important;
	    background-color: #c22127;
	    padding: 10px 16px;
	}
</style>

<div id="contact" style="margin-top:90px">
	<div class="container">
		<div class="section-title">
			<h5>You've seen the tour.</h5>
			<h2>Now learn how Cornerstone will work specifically for your team:</h2>

			<form class="form" id="tour_form">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<input type="text" name="first_name" class="form-control" placeholder="First Name *" />
							</div>
							<div class="col-md-6">
								<input type="text" name="last_name" class="form-control" placeholder="Last Name *" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<input type="email" name="email" class="form-control" placeholder="Email *" />
							</div>
							<div class="col-md-6">
								<input type="text" name="contact_number" class="form-control" placeholder="Contact Number *" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<textarea name="requirements" class="form-control" style="height:100px; resize:none;" placeholder="Challenges & Requirements"></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<input type="text" name="company" class="form-control" placeholder="Company *" />
					</div>
					<div class="col-md-6">
						<select name="country" class="form-control">
							<option>Country *</option>
							<option>Philippines</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<input type="email" name="job_title" class="form-control" placeholder="Job Title *" />
					</div>
					<div class="col-md-6">
						<select name="state" class="form-control">
							<option>State/Region *</option>
							<option>Metro Manila</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<select name="other_info" class="form-control">
							<option>Select How You Heard Of Us *</option>
						</select>
					</div>
					<div class="col-md-6">
						<select name="city" class="form-control">
							<option>City *</option>
							<option>Manila</option>
						</select>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<div class="checkbox">
						    <label><input type="checkbox"> Keep me up to date on Project Insight news & offers *</label>
				  		</div>
					</div>
					<div class="col-md-6" align="right">
						<div class="g-recaptcha" data-sitekey="6LcDzBcTAAAAAO4nDE4NKXFT4-FeNq0JMibyktnJ"></div>
					</div>
				</div>	

			  	<a href="<?php echo base_url() ?>tour-thank-you" class="btn btn-contact pull-right">Learn More Now</a>
			</form>
		</div>
	</div>
</div>