<style type="text/css">
	#contact { padding:0px !important; }
	#contact.about-content { min-height:400px !important; }
	#contact.about-content img { width:100%; }
	#contact.about-content h2 { font-size:18px; color:#000; font-weight:400; margin-bottom: 5px !important; }
	#contact.about-content h3 { text-transform:none !important; }
	.header-text { padding-top:120px !important; padding-bottom: 0px !important; }
</style>

<!-- Header -->
<header id="header">
	<div class="container">
		<div class="row">
			<div class="header-text">
				<div class="col-md-offset-3 col-md-6">
					<div class="text-header text-center">
						<h1 style="font-size:30px; font-weight:400;">Why Cornerstone?</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Content Section -->
<div id="contact" class="about-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="margin-bottom:100px;">
				<div>
					<p style="text-align: center;">There are hundreds of software and cloud system product providers in the market to choose <br/>from. However, finding one that you can count on and build a long term relationship is a <br/>different story. Here are the reasons why you made a great decision of choosing us.</p>

					<br/>
					{{ theme:image file="whyCS/banner.png" class="wow fadeIn" }}
					<br/><br/>

					<h1 align="center" style="font-size:30px; font-weight:400; color:#c22127;">Product</h1>

					<div class="row text-center" style="margin-top:35px;">
						<div class="col-md-3 wow fadeInUp">
							{{ theme:image file="whyCS/products/work.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Work Anytime, Anywhere</h2>

							<p>With our cloud based system and dedicated client login feature, Cornerstone enables you to keep track of your real estate business&#39; progress and work with your team, anytime, anywhere.</p>
						</div>
						<div class="col-md-3 wow fadeInUp">
							{{ theme:image file="whyCS/products/customer-support.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Customer Support</h2>

							<p>With the average response time of under 10 minutes, our customer suppport is the best the industry has ever had. We have a team of web developers and tech managers who are always ready to provide extensive assistance to our clients.</p>
						</div>
						<div class="col-md-3 wow fadeInUp">
							{{ theme:image file="whyCS/products/security.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Security</h2>

							<p>Cornerstone Real Estate Management System is designed to be the most secure cloud system in the market. We use top-notched cloud security solutions to protect not just our product but also the privacy of our users.</p>
						</div>
						<div class="col-md-3 wow fadeInUp">
							{{ theme:image file="whyCS/products/ease-of-use.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Ease of Use</h2>

							<p>Unlike other cloud or software products, Cornerstone&#39;s user interface is much more simpler, easy to use, and easy to install.</p>
						</div>
					</div>

					<div class="row text-center" style="margin-top:20px;">
						<div class="col-md-3 wow fadeInUp">
							{{ theme:image file="whyCS/products/full-access.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important"> Full Access to the Software Functionalities</h2>

							<p>We don&#39;t offer packages where you have to spend a fortune in order to experience all benefits that the software provides. Once you subscribe, you will have the access to all functionalities of Cornerstone.</p>
						</div>
						<div class="col-md-3 wow fadeInUp">
							{{ theme:image file="whyCS/products/monthly-reports.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Monthly Reports</h2>

							<p>Our clients receive monthly upgrade report and system &amp; server maintenance report to keep them updated with the product.</p>
						</div>
						<div class="col-md-3 wow fadeInUp">
							{{ theme:image file="whyCS/products/unli-clients.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Unlimited Number of Users from the Client</h2>

							<p>Tired of choosing who&#39;s gonna be using the product and who&#39;s not? Put that worry to rest as we set no restrictions on the number of users per client. Everyone in your company will be able to use the software if need be.</p>
						</div>
						<div class="col-md-3 wow fadeInUp">
							{{ theme:image file="whyCS/products/reg-upgrades.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Regular Upgrades</h2>

							<p>We continue to upgrade our product and implement the improvement to our clients without extra charge. Team and Core Values</p>
						</div>
					</div>

					<h1 align="center" style="font-size:30px; font-weight:400; color:#c22127; margin-top:40px;">Team Core and Values</h1>

					<div class="row text-center" style="margin-top:35px;">
						<div class="col-md-4 wow fadeInUp">
							{{ theme:image file="whyCS/core-values/trusted.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Trusted by Hundreds of Developers</h2>

							<p>With out extensive experience in software development and deployment, Our team was able to gain the trust of real estate developers and companies in the country.</p>
						</div>
						<div class="col-md-4 wow fadeInUp">
							{{ theme:image file="whyCS/core-values/industry-expertise.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Industry Expertise</h2>

							<p>Simply put, we understand your business. That claim is based on years of work in support of businesses competing in the real estate industry in the country. Close collaboration with our clients and partners has given us valuable expertise that translates into another key area of trust.</p>
						</div>
						<div class="col-md-4 wow fadeInUp">
							{{ theme:image file="whyCS/core-values/effective-solutions.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Proven Effective Solutions</h2>

							<p>Leveraging our knowledge in the industry, we are able to create world-class solutions using advanced technology, making sure that the innovation we create will match your needs in every aspect of your real estate business. That has led us to build a powerful portfolio over the years.</p>
						</div>
					</div>

					<div class="row text-center" style="margin-top:20px;">
						<div class="col-md-4 wow fadeInUp">
							{{ theme:image file="whyCS/core-values/client-care.png" style="width:fit-content; margin:35px 0px" }}
							<h2 style="margin-bottom:20px !important">Client Care &amp; Satisfaction</h2>

							<p>We aim for the highest client satisfaction rate by constantly surveying our clients to make sure our product is loved. This has enabled us to build long term relationships with our clients.</p>
						</div>
						<div class="col-md-4 wow fadeInUp">
							{{ theme:image file="whyCS/core-values/transparent-rates.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Transparent Rates, Fair Margins</h2>

							<p>We make sure that you earn more than you pay us. That&#39;s why we keep our prices on a reasonable rate while we provide top notched customer support.</p>
						</div>
						<div class="col-md-4 wow fadeInUp">
							{{ theme:image file="whyCS/core-values/commit-success.png" style="width:fit-content; margin-bottom:20px" }}
							<h2 style="margin-bottom:20px !important">Commitment to Your Success</h2>

							<p>Cornerstone has a vested interest in your business&#39; success. Everything we do in our product aims to provide efficiency and ease, thus leading you to focus more on growing your real estate business. Your success is ultimately our success!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

