#page-list{min-height:250px}#page-list
ul{background:none;margin-left:1em!important}#page-list>ul{margin-left:0!important}#page-list
a{text-decoration:none;font-size:13px;color:#5c5b5b;padding:1px
1px 1px 15px;background:url(/cornerstone_pyro/system/cms/modules/pages/img/off.png) no-repeat left}#page-list
a.draft{font-style:italic}#page-list a:hover{text-decoration:underline}#page-list
a.selected{color:#000;background:url(/cornerstone_pyro/system/cms/modules/pages/img/on.png) no-repeat left}.ui-nestedSortable-error{background:#fbe3e4;color:#8a1f11}.sortable
li{margin:5px
0;padding-left:20px}.sortable li
div{padding:5px
1px 5px 10px;margin:0;cursor:move;background:url(/cornerstone_pyro/system/cms/themes/pyrocms/img/icons/drag_handle_dark.gif) #eee no-repeat 99% 5px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px}.sortable li div:hover{background-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px}.sortable
li.placeholder{background-color:#c2c0c0;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;margin-left:20px}.plus{background:url(/cornerstone_pyro/system/cms/modules/pages/img/more.png) no-repeat 0 7px}.minus{background:url(/cornerstone_pyro/system/cms/modules/pages/img/less.png) no-repeat 0 7px}#page-details{min-height:250px}#page-details
h5{margin:0;padding:0}
